{% extends "public/template.html" %}
{% block meta %}
  <title>Contacto - LARUEX</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">
{% endblock %}

{% block content %}

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in">

      <div class="container mt-5">
        <div class="section-title">
          <h2>Contacto</h2>
        </div>
      </div>
    </div><!-- End Breadcrumbs -->

    {% include "public/parts/contact-section.html" %}

  </main><!-- End #main -->

{% endblock %}
