{% extends "public/template.html" %}



{% block meta %}
  <title>Redes - LARUEX</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">
{% endblock %}

{% block content %}
<style>
  .cardAcordion{
    background: transparent;
    border: none;
    
  }
  .collapseAcordion:focus{
    outline: none;
    border: none;
  }
  .cardAcordionShow{
    background-color: #f8fcfb;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px #1d88964d;

  }
  .btnColapseAcordion{
    
    font-family: sans-serif;
    color:#1d8896 !important; 
    outline: none;
    border:0; 
    width:100%;
    
    background-color: #f8fcfb;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px #1d88964d;
    text-decoration: none;
  }
  .btnColapseAcordion:focus{
    outline: none;
    border: none;
  }

</style>
{% include "public/parts/hero.html" %}

  <main id="main">


    {% include "public/parts/capacidades-redes-section.html" %}

    {% include "public/parts/rarex-section.html" %}

    {% include "public/parts/spida-section.html" %}

    {% include "public/parts/map-section.html" %}


    {% include "public/parts/certification-redes-section.html" %}

    {% include "public/parts/idi-section.html" %}

  </main><!-- End #main -->


  <script>
    function modificarIcono(icono){ 
      var iconElement = document.getElementById(icono);
      
      if (iconElement.classList.contains("fa-square-plus")) {
        iconElement.classList.remove("fa-square-plus", "fa-beat");
        iconElement.classList.add("fa-square-minus");
      } else if (iconElement.classList.contains("fa-square-minus")) {
        iconElement.classList.remove("fa-square-minus");
        iconElement.classList.add("fa-square-plus", "fa-beat");
      }
    }
</script>
{% endblock %}
