{% extends "public/template.html" %}
{% load static %}


{% block meta %}
  <title{{ curso.titulo }}></title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">
{% endblock %}

{% block content %}

<style>
  /*--------------------------------------------------------------
  # Añadir Imagen
  --------------------------------------------------------------*/
  .addImagen {
    color: #1d8896;
  }
  
  .addImagen:hover {
    color: rgba(29, 136, 150, 10);
    filter: brightness(80%);
  }
  
  .imagenCargada{
    color: #1d9678;
  }
  
  .close:focus {
    outline: none;
  }

  .checkboxDiv input[type="checkbox"]:checked{
    
    background-color: #1d8896 !important;
    border: 2px solid #1d8896 !important;
    color: #fff;
    accent-color: #1d8896;
  }



  </style>

<div class="my-5"></div>
<!-- ======= noticia completa ======= -->
<section id="about" class="about">
  
  <nav aria-label="breadcrumb" class="my-3 mx-auto" >
    <ol class="breadcrumb" style="background-color: transparent;">
      <li class="breadcrumb-item"><a href="\">Inicio</a></li>
      <li class="breadcrumb-item"><a href="\sliders">Sliders</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{slider.titulo}}</li>
    </ol>
  </nav>


  {% if alerta %}
  {% if alerta.tipo == "success" %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <i class="fa-solid fa-circle-check"></i> {{ alerta.mensaje }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  {% else %}
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <i class="fa-sharp fa-solid fa-circle-exclamation"></i> {{ alerta.mensaje }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% endif %}
{% endif %}

  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <div class="row">
        <div class="col col-sm-12 col-md-12 col-lg-7">
          
        <h2>{{ slider.titulo }}</h2>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-5 d-flex justify-content-sm-center justify-content-lg-start">
          
        {% if user.is_superuser %}
            <a href="" class="btn btn-outline-info my-auto" title="Editar Slider" data-toggle="modal"
              data-target="#modalEditarSlider"><span>Editar</span></a>
        {% endif %}
        </div>
      </div>
    </div>
    <div class="row d-flex justify-content-sm-center ">
      <div class="col-lg-6 col-xs-12 col-sm-12 pb-sm-3 order-1 d-flex justify-content-sm-center justify-content-lg-end pt-4" data-aos="fade-left" data-aos-delay="100">
        <img src="{% static 'img/slider/' %}{{ slider.imagen_slider }}" class="img-fluid rounded" alt="" style="max-width: auto; max-height: 300px;" >
      </div>
      <div class="col-lg-6 col-xs-12 col-sm-12 order-2 pt-4 content get d-flex justify-content-sm-center justify-content-lg-start">
        <div>
          <h3>{{ slider.titulo|upper }}</h3>
          <p>
            {{ slider.descripcion }}
          </p>
          <p class="font-italic"><strong>Información destacada</strong></p>

          <p class="font-italic"><i class="fa-duotone fa-link mx-2" style="color: #1d8896"></i>{% if slider.enlace %}<a href="{{ slider.enlace }}" target="_blank">{{ slider.enlace }}</a>{% else %}--{% endif %}</p>

          <p class="font-italic"><strong>Páginas donde se muestra</strong></p>
          <p class="font-italic"><i class="fa-duotone fa-circle-check mx-2" style="color: #1d8896"></i>{{ slider.pagina }}</p>
          {% if slider.slider_principal == 1 %}
          <p class="font-italic" style="color: #961d1d"><i class="fa-duotone fa-lightbulb-on mx-2"></i><strong>Es imagen principal</strong></p>
          {% else %} 
          <p class="font-italic text-secondary"><i class="fa-duotone fa-lightbulb-on mx-2"></i><strong>No es imagen principal</strong></p>
          {% endif %}
        </div>
      </div>
    </div>

  </div>
</section><!-- noticia completa -->

<div id="modalEditarSlider" class="modal fade  pt-5" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="TituloModalEditarSlider">Editar datos de {{slider.titulo}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="formularioEditarSlider" action="\editarSlider/" method="POST" enctype="multipart/form-data" class="php-email-form"  role="form">
          {% csrf_token %}
          <input type="text" class="form-control" id="idPaginaSeleccionada" data-rule="required" value="{{slider.pagina}}" hidden/>        
          <input type="text" class="form-control" id="esPrincipal" data-rule="required" value="{{slider.slider_principal}}" hidden/> 
          <input type="text" class="form-control" id="idSliderEditar" name="idSliderEditar" data-rule="required" value="{{slider.id}}" hidden />
          <div class="row">
            <div class="col form-group">
              <label for="nuevoTituloSlider" class="text-secondary"><strong>Titulo del slider</strong></label>
              <input type="text" class="form-control" id="nuevoTituloSlider" name="nuevoTituloSlider" data-rule="required" value="{{slider.titulo}}" required/>
            </div>
          </div>
          <div class="row">
            <div class="col form-group">
              <label for="nuevoUrlSlider" class="text-secondary"><strong>Enlace del slider</strong></label>
              <input type="text" class="form-control" id="nuevoUrlSlider" name="nuevoUrlSlider" value="{{slider.enlace}}"/>
            </div>
          </div>
        <div class="row">
          <div class="col form-group">
            <label for="nuevaDescripcionSlider" class="text-secondary"><strong>Descripción del slider</strong></label>
            <textarea name="nuevaDescripcionSlider" class="form-control" id="nuevaDescripcionSlider" rows="3" style="white-space: pre-line; border-color: #1d8896;" maxlength="150" >{{slider.descripcion}}</textarea>
          </div>
        </div>
          <div class="row my-3">
            <div class="col form-group">
              <div>
                <label for="paginaSliderEditar" class="text-secondary"><strong>Secciones</strong></label>
              </div>
              <div>
                <div class="checkboxDiv form-check form-check-inline">
                  <div class="mx-2">
                    <input class="form-check-input" type="checkbox" id="nuevaPaginaSeleccionadaLaboratorio" name="checkboxEditarSlider" value="laboratorios" onchange="comprobarSeleccionadoEditar(this)">
                    <label class="form-check-label" for="nuevaPaginaSeleccionadaLaboratorio">Laboratorios</label></div>
                  <div class="mx-2">
                    <input class="form-check-input" type="checkbox" id="nuevaPaginaSeleccionadaRedes" name="checkboxEditarSlider"  value="redes"  onchange="comprobarSeleccionadoEditar(this)">
                    <label class="form-check-label" for="nuevaPaginaSeleccionadaRedes">Redes</label>
                  </div>
                  <div class="mx-2">
                    <input class="form-check-input" type="checkbox" id="nuevaPaginaSeleccionadaHome" name="checkboxEditarSlider" value="home"  onchange="comprobarSeleccionadoEditar(this)">
                    <label class="form-check-label" for="nuevaPaginaSeleccionadaHome">Home</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <div class="row my-3">
            <div class="col form-group">
              <div>
                <label for="paginasSliderEditar" class="text-info"><strong>¿Es slider principal?</strong></label>
              </div>
              <div class="checkboxDiv form-check-inline">
                <div class="mx-2">
                  <input class="form-check-input" type="checkbox" id="paginaPrincipalEditarSi" name="checkboxSliderPrincipalEditar" value="1" onchange="desSeleccionarOtroEditar(this)">
                  <label class="form-check-label text-secondary" for="paginaPrincipalEditarSi"><strong>Si</strong></label>
                </div>
                <div class="mx-2">
                  <input class="form-check-input" type="checkbox" id="paginaPrincipalEditarNo" name="checkboxSliderPrincipalEditar" value="0" onchange="desSeleccionarOtroEditar(this)">
                  <label class="form-check-label text-secondary" for="paginaPrincipalEditarNo"><strong>No</strong></label>
                </div>
              </div>
            </div>
          </div>
        <div class="row my-2">
          <div class="col-sm-12 d-flex justify-content-center">
            <div class="form-group">
              <label for="nuevaImagenSliderEditar">
                <i class="fa-duotone fa-image fa-6x addImagen" id="iconoImagen"></i>
              </label>
              <input type="file" class="form-control-file" style="display: none; visibility: none;"
                id="nuevaImagenSliderEditar" name="nuevaImagenSliderEditar"
                onchange="mostrarNombreImagen(this.value)"/>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="text-center"><strong id="mostrarNombreImagen"><br></strong>
              <spam id="imagen-name"></spam>
            </div>
          </div>
        </div>
          
          <div class="modal-footer d-flex justify-content-center">
            <button type="submit" value="submit" class="btn btn-info">
              Guardar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  // mostramos el titulo de la imagen en el input de adjuntar archivo y cambiamos el label del boton de adjuntar archivo
  function mostrarNombreImagen(value) {
    document.getElementById('imagen-name').innerHTML = value;
    document.getElementById('mostrarNombreImagen').style.display = 'none';   
    var iconoImagen = document.getElementById('iconoImagen');
    iconoImagen.classList.remove("fa-image", "fa-6x", "addImagen");
    iconoImagen.classList.add("fa-circle-check", "fa-6x", "imagenCargada");
  }



  // obtener el valor del input id= "idSeccion" y marcar el checkbox correspondiente
  var seccion = document.getElementById("idPaginaSeleccionada").value;
  // eliminar espacios en blanco
  seccion = seccion.replace(/\s/g, '');
  if (seccion == "laboratorios" || seccion == "LABORATORIOS"){
    document.getElementById("nuevaPaginaSeleccionadaLaboratorio").checked = true;
  }
  if (seccion == "redes" || seccion == "ALERTA2"){
    document.getElementById("nuevaPaginaSeleccionadaRedes").checked = true;
  }
  if (seccion == "home" || seccion == "PRINCIPAL"){
    document.getElementById("nuevaPaginaSeleccionadaHome").checked = true;
  }

  function comprobarSeleccionadoEditar(checkbox) {
  var checkboxes = document.getElementsByName("checkboxEditarSlider");
  checkboxes.forEach(function(cb) {
    if (cb !== checkbox) {
      cb.checked = false;
    }
  });
  }

  // obtener el valor del input id= "idSeccion" y marcar el checkbox correspondiente
  var esPrincipal = document.getElementById("esPrincipal").value;
  console.log(esPrincipal);
  // eliminar espacios en blanco
  esPrincipal = esPrincipal.replace(/\s/g, '');
  if (esPrincipal == "1"){
    document.getElementById("paginaPrincipalEditarSi").checked = true;
  }else{
    document.getElementById("paginaPrincipalEditarNo").checked = true;
  }

  function desSeleccionarOtroEditar(checkbox) {
  var checkboxes = document.getElementsByName("checkboxSliderPrincipalEditar");
  checkboxes.forEach(function(cb) {
    if (cb !== checkbox) {
      cb.checked = false;
    }
  });
  }

</script>

{% endblock %}
