{% extends "base/base_gestmues.html" %}
{% load static %}
{% block title %}
    Web LARUEX
{% endblock %}
{% block imports %}
{% endblock %}

{% block css %}
    button, input[type="submit"], input[type="reset"] {
        background: none;
        color: inherit;
        border: none;
        padding: 0;
        font: inherit;
        cursor: pointer;
        outline: inherit;
    }
    .param-adicional div:hover{
        background-color: #D7E9FC;
    }
{% endblock %}

{% block content %}
<div class="pagetitle">
    <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'gestionmuestras:gestmuesOpciones' %}">Home</a></li>
        </ol>
    </nav>
</div>
<!-- Info programa -->
<section class="section dashboard">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Tareas post-insercción</h5>
            <div class="card-header my-4">Asignación de tratamientos</div>
            <div class="row">
                {% for t in tratamientos %}
                    <div class="col-3">
                        {{ t }}
                    </div>
                {% endfor %}
            </div>
            <div class="card-header my-4">Controles requeridos</div>
            <div class="card-header my-4">Impresión de etiquetas</div>
        </div>
    </div>
</section>
<!-- End Info programa -->

<script>
    
</script>
{% endblock %}
