{% extends "base/base_docLaruex.html" %}
{% load static %}


{% block imports %}

    <!-- fullcalendar-->
  <!-- <script src='https://cdn.jsdelivr.net/npm/fullcalendar-scheduler@6.1.9/index.global.min.js'></script> -->
  <link rel="stylesheet" href="{% static 'css/docLaruex/fullcalendar/fullcalendar.css' %}" />
  <script src="{% static 'js/docLaruex/fullcalendar/fullcalendar.js' %}"></script>
  <script src="{% static 'js/docLaruex/fullcalendar/fullcalendar_es.js' %}"></script>
  <link rel="stylesheet" href="{% static 'css/docLaruex/fullcalendar/calendario_eventos.css' %}" />
    <!-- disponible para configuración servidor-->
    <!-- <link rel="stylesheet" href="{% static 'css/docLaruex/fullcalendar/fullcalendar.css' %}" /> -->

{% endblock %}

{% block content %}

<div class="card m-3">
  <div class="card-body">
    <div id='calendarioEventos' class="mb-3 mt-3"></div> 
  </div>
</div>





<script>
document.addEventListener('DOMContentLoaded', function() {
    var calendarDiv = document.getElementById('calendarioEventos');
    var calendar = new FullCalendar.Calendar(calendarDiv, {

      themeSystem: 'bootstrap5',
      dayMaxEvents: 3, // allow "more" link when too many events
      
      events: "{% url 'docLaruex:docLaruexDatosCalendario' %}",
      height: 650, // indico el maximo de alto que puede tener el calendario
      locale: 'es', // el idioma del calendario
      handleWindowResize: true, // si se puede redimensionar el calendario
      initialView: 'dayGridMonth', // la vista inicial del calendario
      buttonText: { // los textos de los botones
        today: 'Hoy',
        month: 'Mes',
        week: 'Semana',
        day: 'Día',
        list: 'Lista'
      }, 
      headerToolbar: { // la barra superior donde se encuentra el titulo y los botones
        left: 'prev,next today',
        center: 'title',
        right: 'dayGridMonth,timeGridWeek,timeGridDay'
      },
      
    });
    calendar.render(); // renderizo el calendario
    calendar.updateSize(); // actualizo el tamaño del calendario




  });



  function forzarCierre(){
    $('#modalAgregarFestivoDesdeCalendario').modal('hide');
  }
</script>



    
{% endblock %}