{% extends "base/base_docLaruex.html" %}
{% load static %}

{% block imports %}

    <!-- fullcalendar-->
  <!-- <script src='https://cdn.jsdelivr.net/npm/fullcalendar-scheduler@6.1.9/index.global.min.js'></script> -->
  <link rel="stylesheet" href="{% static 'css/docLaruex/fullcalendar/fullcalendar.css' %}" />
  <script src="{% static 'js/docLaruex/fullcalendar/fullcalendar.js' %}"></script>
  <script src="{% static 'js/docLaruex/fullcalendar/fullcalendar_es.js' %}"></script>
  <link rel="stylesheet" href="{% static 'css/docLaruex/fullcalendar/calendario_eventos.css' %}" />
    <!-- disponible para configuración servidor-->
    <!-- <link rel="stylesheet" href="{% static 'css/docLaruex/fullcalendar/fullcalendar.css' %}" /> -->

  
  <link rel="stylesheet" href="{% static 'css/docLaruex/custom_docLaruex.css' %}" />

{% endblock %}

{% block content %}

<div class="card m-3">
  <div class="card-body">
    <div id='calendarioEventos' class="mb-3 mt-3"></div> 
  </div>
</div>

<! -- Modal con información del evento -->


<div id="modalInformacionEvento" tabindex="-1" role="dialog" class="modal fade"
  aria-labelledby="modalInformacionEvento" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered ">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Información del Evento</h5>
        <button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" onclick="forzarCierre()">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <span ><strong>Fecha límite: </strong><span id="fechaLimite"></span></span>
        <br>
        <span ><strong>Evento: </strong><span id="nombreEvento"></span></span>

      </div>
      <div class="modal-footer">
        <button id="botonVerTarea" class="cta" title="Ver la tarea">
          <span>Ver la tarea</span>
        </button>
      </div>
    </div>
  </div>
</div>
<script>
document.addEventListener('DOMContentLoaded', function() {
    var calendarDiv = document.getElementById('calendarioEventos');
    var calendar = new FullCalendar.Calendar(calendarDiv, {

      themeSystem: 'bootstrap5',
      dayMaxEvents: 3, // allow "more" link when too many events
      
      events: "{% url 'docLaruex:docLaruexDatosCalendario' %}",
      height: 650, // indico el maximo de alto que puede tener el calendario
      locale: 'es', // el idioma del calendario
      handleWindowResize: true, // si se puede redimensionar el calendario
      initialView: 'dayGridMonth', // la vista inicial del calendario
      buttonText: { // los textos de los botones
        today: 'Hoy',
        month: 'Mes',
        week: 'Semana',
        day: 'Día',
        list: 'Lista'
      }, 
      headerToolbar: { // la barra superior donde se encuentra el titulo y los botones
        left: 'prev,next today',
        center: 'title',
        right: 'dayGridMonth,timeGridWeek,timeGridDay'
      },
      
    });
    calendar.render(); // renderizo el calendario
    calendar.updateSize(); // actualizo el tamaño del calendario
    // pulsar sobre un evento
    calendar.on('eventClick', function(info) {
      info.el.style.opacity = '0.4'; // Cambia el valor para ajustar la opacidad
      $('#modalInformacionEvento').modal('show');
      $('#nombreEvento').html(info.event.title);
      $('#fechaLimite').html(info.event.start.toLocaleDateString());
      var id = info.event.id;
      var url = "{% url 'docLaruex:docLaruexVerTarea' id=0 %}".replace('0', id);
      $('#botonVerTarea').attr('onclick', "location.href='" + url + "'");
      $('#modalInformacionEvento').on('hidden.bs.modal', function (e) {
        info.el.style.opacity = '1'; // Cambia el valor para ajustar la opacidad
      });



    });




  });



  function forzarCierre(){
    $('#modalInformacionEvento').modal('hide');
  }
</script>



    
{% endblock %}