{% extends "base/base_docLaruex.html" %}
{% load static %}

{% block content %}
<style>
  
  /* ===============================
  *  Estilo del las pestañas
  =================================*/
  
  .nav-tabs-bordered .nav-link {
    margin-bottom: -2px;
    border: none;
    color: #2c384e;
}
  .nav-tabs-bordered .nav-link.active {
    background-color: #fff;
    color: #4154f1;
    border-bottom: 2px solid #4154f1;
}
.nav-tabs {
    --bs-nav-tabs-border-color: #dee2e6;
    --bs-nav-tabs-border-radius: 0.375rem;
    --bs-nav-tabs-link-hover-border-color: #e9ecef #e9ecef #dee2e6;
    --bs-nav-tabs-link-active-color: #495057;
    --bs-nav-tabs-link-active-bg: #fff;
    --bs-nav-tabs-link-active-border-color: #dee2e6 #dee2e6 #fff;
    border-bottom: var(--bs-nav-tabs-border-width) solid var(--bs-nav-tabs-border-color);
}
</style>



<!-- breadcrumb   -->
<div class="card-body" >
  <h5 class="card-title">{{ fabricante.nombre }}</h5>
  <nav >
    <ol class="breadcrumb"style="background-color:#fff !important">
      <li class="breadcrumb-item" style="font-size: large;"><a href="\private/docLaruex/"><i class="bi bi-house-door"></i></a></li>
      <li class="breadcrumb-item" style="font-size: large;"><a href="\private/docLaruex/fabricantes">Listado de Fabricantes</a></li>
      <li class="breadcrumb-item active" style="font-size: large;">{{  fabricante.nombre }}</li>
    </ol>
  </nav>
</div>





<!-- =================== Información de Fabricante =================== -->

<section class="section profile">
  <div class="row">
    <div class="col-xl-4">

      <div class="card">
        <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
          
          <div class="card-icon rounded-circle d-flex align-items-center justify-content-center"
            style="background-color: #41c9ef52;">
            <i class="fa-solid fa-user-headset  fa-4x" style="color: #18414b; "></i>
          </div>
          <h2>{{fabricante.nombre}}</h2>
          <h3>{{fabricante.puesto}}</h3>
        </div>
      </div>

    </div>

    <div class="col-xl-8">

      <div class="card">
        <div class="card-body pt-3">
          <!-- Bordered Tabs -->
          <ul class="nav nav-tabs nav-tabs-bordered">

            <li class="nav-item">
              <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Información</button>
            </li>          

            
            {% if administrador %}
            <li class="nav-item">
              <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Editar</button>
            </li>
            
            <li class="nav-item">
              <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-eliminar">Eliminar</button>
            </li>
            {% endif %}

          </ul>
          <div class="tab-content pt-2">

            <div class="tab-pane fade show active profile-overview" id="profile-overview">
              <h5 class="card-title">Información de {{fabricante.nombre}}</h5>

              <div class="row">
                <div class="col-lg-3 col-md-4 label ">Nombre comercial</div>
                <div class="col-lg-9 col-md-8">{{fabricante.nombre}}</div>
              </div>


              <div class="row">
                <div class="col-lg-3 col-md-4 label">Dirección</div>
                <div class="col-lg-9 col-md-8">{{fabricante.direccion}}</div>
              </div>

              <div class="row">
                <div class="col-lg-3 col-md-4 label">Teléfono</div>
                <div class="col-lg-9 col-md-8">{{fabricante.movil|slice:"0:3" }} {{fabricante.movil|cut:"+34"}}</div>
              </div>

              <div class="row">
                <div class="col-lg-3 col-md-4 label">Teléfono 2</div>
                <div class="col-lg-9 col-md-8">{{fabricante.fijo|slice:"0:3" }} {{fabricante.fijo|slice:"3:12" }} </div>
              </div>

              <div class="row">
                <div class="col-lg-3 col-md-4 label">Email</div>
                <div class="col-lg-9 col-md-8">{{fabricante.correo|urlize}}</div>
              </div>

              <div class="row">
                <div class="col-lg-3 col-md-4 label">Página Web</div>
                <div class="col-lg-9 col-md-8">{{fabricante.web|urlize}}</div>
              </div>

              <h5 class="card-title">Información Adicional</h5>
              <p class="small fst-italic">{{fabricante.comentarios}}</p>



            </div>

            <div class="tab-pane fade profile-edit pt-3" id="profile-edit">

              <!-- Edit Form -->
              <form id="formularioEditarContacto"  action="/private/docLaruex/editarFabricante/{{fabricante.id}}/" method="POST"
              enctype="multipart/form-data">
              {% csrf_token %}

                <div class="row mb-3">
                  <label for="nuevoNombre" class="col-md-4 col-lg-3 col-form-label">Nombre</label>
                  <div class="col-md-8 col-lg-9">
                    <input name="nuevoNombre" type="text" class="form-control" id="nuevoNombre" value="{{fabricante.nombre}}">
                  </div>
                </div>



                <div class="row mb-3">
                  <label for="nuevaDireccion" class="col-md-4 col-lg-3 col-form-label">Dirección</label>
                  <div class="col-md-8 col-lg-9">
                    <input name="nuevaDireccion" type="text" class="form-control" id="nuevaDireccion" value="{{fabricante.direccion}}">
                  </div>
                </div>




                <div class="row mb-3">
                  <label for="nuevoFijo" class="col-md-4 col-lg-3 col-form-label">Teléfono</label>
                  <div class="col-md-2 col-lg-2">
                    <input name="nuevoPrefijoFijo" type="text" class="form-control" id="nuevoPrefijoFijo" value="{{fabricante.fijo|slice:'0:3'}}" >
                  </div>
                  <div class="col-md-6 col-lg-7">
                    <input name="nuevoFijo" type="text" class="form-control" id="nuevoFijo" value="{{fabricante.fijo|slice:'3:12'}}">
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="nuevoMovil" class="col-md-4 col-lg-3 col-form-label">Teléfono 2</label>
                  <div class="col-md-2 col-lg-2">
                    <input name="nuevoPrefijoMovil" type="text" class="form-control" id="nuevoPrefijoMovil" value="{{fabricante.movil|slice:'0:3'}}" >
                  </div>
                  <div class="col-md-6 col-lg-7">
                    <input name="nuevoMovil" type="text" class="form-control" id="nuevoMovil" value="{{fabricante.movil|slice:'3:12'}}">
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="nuevoCorreo" class="col-md-4 col-lg-3 col-form-label">Email</label>
                  <div class="col-md-8 col-lg-9">
                    <input name="nuevoCorreo" type="nuevoCorreo" class="form-control" id="Email" value="{{fabricante.correo}}">
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="nuevaWeb" class="col-md-4 col-lg-3 col-form-label">Web</label>
                  <div class="col-md-8 col-lg-9">
                    <input name="nuevaWeb" type="nuevaWeb" class="form-control" id="Email" value="{{fabricante.web}}">
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="nuevosComentarios" class="col-md-4 col-lg-3 col-form-label">Información Adicional</label>
                  <div class="col-md-8 col-lg-9">
                    <textarea name="nuevosComentarios" class="form-control" id="nuevosComentarios" style="height: 100px">{{fabricante.comentarios}}</textarea>
                  </div>
                </div>


                <div class="text-center">
                  <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
              </form><!-- End Profile Edit Form -->

            </div>


            <!-- Eliminar Contacto -->
            <div class="tab-pane fade profile-eliminar pt-3" id="profile-eliminar">

              <!-- Edit Form -->
              <form form id="fomularioEliminarFabricante" action="/private/docLaruex/eliminarFabricante/{{ fabricante.id }}/"
              method="POST" enctype="multipart/form-data">
              {% csrf_token %}

                <div class="row mb-3">
                  <label class="text-center">¿Estás seguro de eliminar el fabricante {{fabricante.nombre}}?</label>
                </div>
                <div class="text-center">
                  <button id="eliminarContacto" type="submit" class="btn btn-danger" onclick="crearAviso('guardarEliminarContacto', 'Fabricante {{ fabricante.nombre }} eliminado con éxito', 'alert-success', 3000)">Eliminar</button>

                  <button  id="canclearEliminar" type="reset" class="btn btn-secondary" onclick="crearAviso('cerrarEliminarContacto', 'No se ha podido eliminar el fabricante {{ fabricante.nombre }}', 'alert-warning', 3000); location.reload()">Cancelar</button>
                </div>
              </form><!-- End Profile Edit Form -->

            </div>





          </div><!-- End Bordered Tabs -->

        </div>
      </div>

    </div>
  </div>
</section>






<script type="text/javascript">


  // cambiamos la funcionalidad del boton submit del formulario
  $("#formularioEditarContacto").submit(function (e) {
    // cancelamos el funcionamiento por defecto del boton submit
    e.preventDefault();
    // capturamos la información del formulario 
    var data = new FormData(this);
    // ejecuta una url/action con la capacidad de gestionar la salida
    $.ajax({
      url: "/private/docLaruex/editarFabricante/{{fabricante.id}}/",
      type: "POST",
      data: data,
      cache: false,
      contentType: false,
      processData: false,
      // gestiono el return del view
      success: function () {
        crearAviso('objetoGuardar', 'Fabricante modificado con éxito', 'alert-success', 2000);
        location.reload(true);

      }
    });
  });

  // cambiamos la funcionalidad del boton submit del formulario para que elimine el fabricante
  $("#fomularioEliminarFabricante").submit(function (e){
    e.preventDefault();
    var data = new FormData(this);
    $.ajax({
      url: "/private/docLaruex/eliminarFabricante/{{ fabricante.id }}/",
      type: "POST",
      data: data,
      cache: false,
      contentType: false,
      processData: false,
      // gestiono el return del view
      success: function () {
        // redireccionar a la pagina de inicio
        var url = "/private/docLaruex/fabricantes";
        $(location).attr('href',url);




      }
    });
  });

  </script>
{% endblock %}