{% extends "base/base_docLaruex.html" %}
{% load static %}

{% block imports %}
<link rel="stylesheet" href="{% static 'css/docLaruex/custom_docLaruex.css' %}" />
<link rel="stylesheet" href="{% static 'css/docLaruex/boostrapTable_docLaruex.css' %}" />

{% endblock %}

{% block content %}

<!-- breadcrumb   -->
<div class="card-body">
  <h5 class="card-title">Operatividad de las Aplicaciones</h5>
  <nav>
    <ol class="breadcrumb" style="background-color:#fff !important">
      <li class="breadcrumb-item" style="font-size: large;"><a href="\private/docLaruex/"><i
            class="bi bi-house-door"></i></a></li>
      <li class="breadcrumb-item active" style="font-size: large;">Operatividad de las Aplicaciones</li>
    </ol>
  </nav>
</div>



<!-- ============= Tablas ============= -->

<!-- Tabla con lista de fabricantes -->

    <table id="tabla_operatividad_aplicaciones" data-toggle="table" data-search="true" data-show-columns="true"
      data-show-columns-toggle-all="true" data-show-fullscreen="true" data-buttons="buttons" data-show-toggle="true"
      data-buttons-class="" data-show-export="true" data-export-types="['excel', 'pdf']" data-show-refresh="true"
      data-pagination="true" data-id-field="id" data-page-list="[10, 25, 50, 100, All]" data-toolbar="#toolbar"   data-detail-view="true" data-detail-formatter="detailFormatter" data-search-accent-neutralise="true">
    </table>


<script type="text/javascript">


    function compararFechas(fecha1, fecha2) {
      // Convertir las fechas a objetos Date
      const fecha1Date = new Date(fecha1);
      const fecha2Date = new Date(fecha2);


      // Si la fecha 1 tiene zona horaria UTC, convertir la fecha 2 a la misma zona horaria
      if (fecha1.endsWith("Z")) {
        fecha2Date.setUTCHours(fecha2Date.getHours() - fecha2Date.getTimezoneOffset() / 60);
      }

      // Comparar las dos fechas
      return fecha1Date.getTime() - fecha2Date.getTime();
    }

  $('#tabla_operatividad_aplicaciones').bootstrapTable({
    method: 'get',
    url: "{% url 'docLaruex:docLaruexDatosOperatividadAplicaciones' %}",
    locale: navigator.language,
    search: true,
    cache: false,
    columns: [{
      title: 'Aplicación',
      field: 'nombre',
      align: "center",
    },{
      title: 'Proceso',
      field: 'nombre_proceso',
      align: "center",
    },{
      title: 'Última Ejecución',
      field: 'ultima_ejecucion',
      align: "center",
      formatter: function (value, row) {
        const fechaOriginal = row.ultima_ejecucion;

        if (fechaOriginal !== null) {
          const fecha = new Date(fechaOriginal);

          const options = {
            year: 'numeric',
            month: '2-digit',
            day: '2-digit',
            hour: '2-digit',
            minute: '2-digit',
            second: '2-digit',
            hour12: false,
          };

          const fechaFormateada = fecha.toLocaleString('es-ES', options);
          
          return fechaFormateada;
        } else {
          return "--";
        }

      },

    },{
      title: 'Estado',
      field: 'estado',
      align: "center",
      formatter: function (value, row) {
          // obtener fecha actual y hora actual con zona horaria UTC
          const fechaProxima = row.proxima_ejecucion; // Fecha en UTC
          const fechaActual = new Date();
          const fechaActualFormateada = fechaActual.toISOString().slice(0, 19);

          //const fechaActualFormateada = fechaActual.toISOString().slice(0, 19);

          console.log(row.proxima_ejecucion, typeof(row.proxima_ejecucion));

          console.log("--",fechaActualFormateada, typeof(fechaActualFormateada));


          var icono = '<i class="fa-duotone fa-circle-check fa-xl"  style="--fa-primary-color: #39d553; --fa-secondary-color: #39d553;"></i>';

          const comparacion = compararFechas(fechaProxima, fechaActualFormateada);

          if (comparacion === -1) {
            icono = '<i class="fa-solid fa-triangle-exclamation fa-xl" style="color:#FF0000"></i>';
          }

          return icono

      }
    },
    {
      title: "",
      field: "Acciones",
      id: "Acciones", // "id" necesario para ocultar la columna
      align: "center",
      formatter: function (value, row) {
        var admin = '{{administrador}}';
        if (admin == 'False') {
          // ocultar columna Acciones si el usuario no es administrador
          return '';
        }
        var botonParalizarProceso = '<a href="/private/docLaruex/paralizarProceso/' + row.nombre_proceso + '/' + row.nombre_ejecutable + '/' +'" class="mx-2 pausa" title="Paralizar proceso" ><i class="fa-solid fa-pause fa-xl" ></i></a>';
        
        var botonEliminarProceso = '<a href="/private/docLaruex/eliminarProceso/' + row.nombre_proceso + '/' + row.nombre_ejecutable + '/' +'" class="mx-1 eliminarProceso" title="Eliminar Proceso"><i class="fa-solid fa-eraser fa-xl"></i></a>';
        return (botonParalizarProceso + botonEliminarProceso);

      },
  },],
  sortName: 'id',
  sortOrder: 'desc',

  });


  function detailFormatter(index, row) {
    var html = []
    var tiempo = row.segundos_ejecucion
    var descripcion = row.descripcion
    // frecuencia de Ejecución
    if (tiempo > 3600) {
      tiempo = Math.floor(tiempo / 3600) + ' horas'
    } else if (tiempo > 60) {
      tiempo = Math.floor(tiempo / 60) + ' minutos'
    } else {
      tiempo = tiempo + ' segundos'
    }
    html.push('<p><b>Frecuencia de Ejecución:</b> ' + tiempo + '</p>')


    // próxima ejecución
    if (row.proxima_ejecucion != null) {
      const fecha = new Date(row.proxima_ejecucion);
      const options = {
        year: 'numeric',
        month: '2-digit',
        day: '2-digit',
        hour: '2-digit',
        minute: '2-digit',
        second: '2-digit',
        hour12: false,
      };
      const fechaFormateada = fecha.toLocaleString('es-ES', options);
      html.push('<p><b>Próxima ejecución:</b> ' + fechaFormateada + '</p>')
    }else{
      html.push('<p><b>Próxima ejecución:</b> -- </p>')
    }

    // Descripción
    if (descripcion != null) {
      html.push('<p><b>Descripción:</b> ' + descripcion + '</p>')
    }
    return html.join('')
  }

</script>
{% endblock %}