{% load static %}
<!DOCTYPE HTML>
<html class="base_mapa">
    <head>
        <title>
            {% block title %}{% endblock %}
        </title>

        <!-- app -->
        <link rel="manifest" href="{% static 'vraex.webmanifest' %}">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="green">
        <meta name="apple-mobile-web-app-title" content="FreeCodeCamp">
        <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
        <link rel="apple-touch-icon" sizes="57x57" href="{% static 'img/apple-touch-icon-57x57.png' %}" sizes="57x57"/>
        <link rel="apple-touch-icon" sizes="72x72" href="{% static 'img/apple-touch-icon-72x72.png' %}" sizes="72x72"/>
        <link rel="apple-touch-icon" sizes="76x76" href="{% static 'img/apple-touch-icon-76x76.png' %}" sizes="76x76"/>
        <link rel="apple-touch-icon" sizes="114x114" href="{% static 'img/apple-touch-icon-114x114.png' %}" sizes="114x114"/>
        <link rel="apple-touch-icon" sizes="120x120" href="{% static 'img/apple-touch-icon-120x120.png' %}" sizes="120x120"/>
        <link rel="apple-touch-icon" sizes="144x144" href="{% static 'img/apple-touch-icon-144x144.png' %}" sizes="144x144"/>
        <link rel="apple-touch-icon" sizes="152x152" href="{% static 'img/apple-touch-icon-152x152.png' %}" sizes="152x152"/>
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/apple-touch-icon-180x180.png' %}" sizes="180x180"/>


        
        <!-- import scripts gestion de muestras -->
        <script src="{% static 'js/scriptsGestion/gestionMuestras.js' %}"></script>

        <!-- favicon -->
        <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" />

        <!-- Required meta tags -->
        <meta charset="utf-8">

        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- JQuery -->
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <!-- Bootstrap -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
        <!-- Chartjs -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
        <!-- Fontawesome -->
        <script src="{% static 'fontawesome/v6/js/all.js' %}" crossorigin="anonymous"></script>        
        <!-- Scrollbar Custom CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
    	<!-- jQuery Custom Scroller CDN -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

        <!-- Google Fonts -->
        <link href="https://fonts.gstatic.com" rel="preconnect">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

        <!-- Vendor CSS Files -->
        <link href="{% static 'bootsTemplates/niceadmin/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'bootsTemplates/niceadmin/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
        <link href="{% static 'bootsTemplates/niceadmin/assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
        <link href="{% static 'bootsTemplates/niceadmin/assets/vendor/quill/quill.snow.css' %}" rel="stylesheet">
        <link href="{% static 'bootsTemplates/niceadmin/assets/vendor/quill/quill.bubble.css' %}" rel="stylesheet">
        <link href="{% static 'bootsTemplates/niceadmin/assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
        <link href="{% static 'bootsTemplates/niceadmin/assets/vendor/simple-datatables/style.css' %}" rel="stylesheet">
        <script src="{% static 'bootsTemplates/niceadmin/assets/vendor/apexcharts/apexcharts.min.js' %}"></script>
        <script src="{% static 'bootsTemplates/niceadmin/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'bootsTemplates/niceadmin/assets/vendor/chart.js/chart.min.js' %}"></script>
        <script src="{% static 'bootsTemplates/niceadmin/assets/vendor/echarts/echarts.min.js' %}"></script>
        <script src="{% static 'bootsTemplates/niceadmin/assets/vendor/quill/quill.min.js' %}"></script>
        <script src="{% static 'bootsTemplates/niceadmin/assets/vendor/simple-datatables/simple-datatables.js' %}"></script>
        <script src="{% static 'bootsTemplates/niceadmin/assets/vendor/tinymce/tinymce.min.js' %}"></script>
        <script src="{% static 'bootsTemplates/niceadmin/assets/vendor/php-email-form/validate.js' %}"></script>
        <script src="{% static 'bootsTemplates/niceadmin/assets/js/main.js' %}"></script>

        <!-- captura webcam -->
        <script type="text/javascript" src="https://unpkg.com/webcam-easy/dist/webcam-easy.min.js"></script>

        <!-- Template Main CSS File -->
        <link href="{% static 'bootsTemplates/niceadmin/assets/css/style.css' %}" rel="stylesheet">

        <!-- nicescroll -->
        <script src="{% static 'js/jquery.nicescroll.js' %}"></script>

        <!-- bootstrap table -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-table@1.22.3/dist/bootstrap-table.min.css" rel="stylesheet">

        <script src="https://cdn.jsdelivr.net/npm/bootstrap-table@1.22.3/dist/bootstrap-table.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap-table@1.22.3/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>

        <script src="https://momentjs.com/downloads/moment.min.js"></script>

        <script src="https://cdn.jsdelivr.net/npm/tableexport.jquery.plugin@1.10.21/tableExport.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/tableexport.jquery.plugin@1.10.21/libs/jsPDF/jspdf.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/tableexport.jquery.plugin@1.10.21/libs/jsPDF-AutoTable/jspdf.plugin.autotable.js"></script>
        <script src="https://unpkg.com/bootstrap-table@1.18.3/dist/extensions/export/bootstrap-table-export.min.js"></script>
        
        <!-- favicon -->
        <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" />

        <!-- cookiealert.css -->
        <link rel="stylesheet" href="{% static 'css/cookiealert.css' %}">
        <!-- Google Analytics -->
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-180596592-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-180596592-1');
        </script>
        {% block imports %}{% endblock %}


        <style>
            #alertas_push{
                position: fixed;
                top: 0;
                left: 0;
                z-index: 2000;
                width: 100%;
            }
            #hoja_etiquetas{
                z-index: 1000;
                position: fixed;
                top: 0px;
                right: 0px;
            }
            {% block css %}
            {% endblock %}
        </style>
    </head>
    <body>
        <!-- modal confirm generico-->
        <div class="modal fade" id="modalConfirmGenerico" tabindex="-1" aria-labelledby="modalConfirmGenericoLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalConfirmGenericoLabel">Eliminar Tratamiento</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" id="modalConfirmGenericoBody">
                        ¿Está seguro que desea eliminar el Tratamiento?
                    </div>
                    <div class="modal-footer">
                        <button id="modalConfirmGenericoNo" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button id="modalConfirmGenericoSi" type="button" class="btn btn-danger" onclick="">Eliminar</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- end modal confirm delete cod muestra -->

        <!-- modal selector de etiquetas -->
        <!-- Modal -->
        <div class="modal fade" id="selectorEtiquetasModal" tabindex="-1" role="dialog" aria-labelledby="selectorEtiquetasModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="selectorEtiquetasModalLabel">Seleccione las etiquetas para imprimir:</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div id="etiquetasSeleccionar" class="modal-body">
                        Seleccione las etiquetas a imprimir
                    </div>
                    <div class="modal-footer">
                    <!-- el boton cerrar pone en el div de id "etiquetasSeleccionar" el texto "Seleccione las etiquetas a imprimir"-->
                    <button id="cerrarModelEtiquetas" type="button" class="btn btn-secondary" data-dismiss="modal" onclick="$('#etiquetasSeleccionar').html('Seleccione las etiquetas a imprimir');">Cerrar</button>
                    <!-- El botón agregar ejecuta la funcion cargarEtiquetasSesion() y pulsa el boton cerrar del modal -->
                    <button type="button" class="btn btn-primary" onclick="cargarEtiquetasSesion(); $('#cerrarModelEtiquetas').click()">Agregar</button>
                    </div>
                </div>  
            </div>
        </div>
        <!-- fin modal selector de etiquetas -->

        <!-- modal modificacion de las tablas -->
        <div class="modal fade" id="gestionTablasModal" tabindex="-1" aria-labelledby="gestionTablasModalLabel" aria-hidden="true"></div>
        <!-- fin modal modificacion de las tablas -->

        <section id="alertas_push"></section>
        {% block modal %}
        {% endblock %}

        {% block map %}
        {% endblock %}

        {% include "popups/model.html" %}

        {% include "header/header2.html" %}

        <main role="main p-2">
            {% block content %}{% endblock %}
        </main>
        <footer>
        </footer>

        {% include "popups/cookies.html" %}

        <script src="{% static 'js/cookiealert.js' %}"></script>
        <script type="text/javascript">
            $("#hoja_etiquetas").hide();

            $(function () {
                $('[data-toggle="tooltip"]').tooltip()
            });
            
            function crearAviso(id, comentario){
                var divAlert = document.createElement("div");
                divAlert.classList.add('alert','alert-success');
                divAlert.setAttribute("role", "alert");
                divAlert.id = id;
                var textAlert = document.createTextNode(comentario);
                divAlert.prepend(textAlert);

                $("#alertas_push").append(divAlert);
                window.setTimeout(function() {
                    $("#"+id).fadeTo(500, 0).slideUp(500, function(){
                        $(this).remove();
                    });
                }, 1000);
            }
            
            function cargarBotonesGestion(){
                $.ajax({  
                    type: "GET",
                    dataType: "html",
                    url:"/private/gestionmuestras/botonesGestion/",
                    success: function(data)
                    {
                        $("#gestionTablasModal").html(data);
                    }
                });
            }
            cargarBotonesGestion();

            function consultarEtiquetas(){

                $.ajax({  
                    type: "GET",
                    dataType: "html",
                    url:"/private/gestionmuestras/consultarEtiquetas/",
                    success: function(data)
                        {
                            // cambio el valor del div de id etiquetas_almacenadas por data
                            $("#etiquetas_almacenadas").html(data);
                            $("#etiquetas_almacenadas").css("height", "400px");
                            $("#hoja_etiquetas").show();
                        }
                    });

                }

            
            function rellenarModalEtiquetas(id){
                $("#etiquetasSeleccionar").html("<p>Buscando etiquetas posibles...</p>");

                $.ajax({  
                    type: "GET",
                    dataType: "html",
                    url:"/private/gestionmuestras/etiquetasSeleccionar/"+id+"/",
                    success: function(data)
                    {
                        $("#etiquetasSeleccionar").html(data);
                    }
                });
            }

                        
            // if etiquetas is empty hide div hoja_etiquetas
            
            function eliminarCodigo(codigo){
                $.ajax({  
                    type: "GET",
                    dataType: "json",
                    url:"/private/gestionmuestras/eliminarCodigosExistentes/"+codigo+"/",
                    success: function(data)
                    {
                        consultarEtiquetas();
                    }
                });

            }

            function cargarEtiquetasSesion(){
                $.ajax({  
                    type: "POST",
                    dataType: "json",
                    // data contiene el token de django csrfmiddlewaretoken y el array de codigos en el key codigos
                    data: {csrfmiddlewaretoken: '{{ csrf_token }}', codigos: JSON.stringify(auxiliarJson)},
                    url:"/private/gestionmuestras/almacenarCodigosBarras/",
                    success: function(data)
                    {
                        auxiliarJson = [];
                        consultarEtiquetas();
                    }
                });
            }

            {% block js %}
            {% endblock %}
        </script>
    </body>
</html>
