{% load static %}
<html class="base_mapa">
    <head>
        <title>
            {% block title %}{% endblock %}
        </title>

        <!-- app -->
        <link rel="manifest" href="{% static 'vraex.webmanifest' %}">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="green">
        <meta name="apple-mobile-web-app-title" content="FreeCodeCamp">
        <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
        <link rel="apple-touch-icon" sizes="57x57" href="{% static 'img/apple-touch-icon-57x57.png' %}" sizes="57x57"/>
        <link rel="apple-touch-icon" sizes="72x72" href="{% static 'img/apple-touch-icon-72x72.png' %}" sizes="72x72"/>
        <link rel="apple-touch-icon" sizes="76x76" href="{% static 'img/apple-touch-icon-76x76.png' %}" sizes="76x76"/>
        <link rel="apple-touch-icon" sizes="114x114" href="{% static 'img/apple-touch-icon-114x114.png' %}" sizes="114x114"/>
        <link rel="apple-touch-icon" sizes="120x120" href="{% static 'img/apple-touch-icon-120x120.png' %}" sizes="120x120"/>
        <link rel="apple-touch-icon" sizes="144x144" href="{% static 'img/apple-touch-icon-144x144.png' %}" sizes="144x144"/>
        <link rel="apple-touch-icon" sizes="152x152" href="{% static 'img/apple-touch-icon-152x152.png' %}" sizes="152x152"/>
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/apple-touch-icon-180x180.png' %}" sizes="180x180"/>
        <!-- favicon -->
        <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" />

        <!-- Required meta tags -->
        <meta charset="utf-8">

        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- JQuery -->
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <!-- Bootstrap -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
        <!-- Chartjs -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
        <!-- Fontawesome -->
        <script src="{% static 'fontawesome/v6/js/all.js' %}" crossorigin="anonymous"></script>
        <!-- Scrollbar Custom CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
    	<!-- jQuery Custom Scroller CDN -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
        <!-- scripts de grafica -->
        <script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
        <script src="https://www.amcharts.com/lib/3/serial.js"></script>
        <script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
        <script src="https://www.amcharts.com/lib/4/core.js"></script>
        <script src="https://www.amcharts.com/lib/4/charts.js"></script>
        <script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
        <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
        <script src="https://www.amcharts.com/lib/3/themes/light.js"></script>

        <!-- custom css -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/sidebars.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/content.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/map.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/navbars.css' %}">
        <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/card.css' %}">-->
        <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/style_dashboard.css' %}">-->

        <!-- favicon -->
        <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" />

        <!-- leaflet -->
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
   integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
   crossorigin=""/>
        <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
   integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
   crossorigin=""></script>
        <!-- leaflet sidebars v2 -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/leaflet/leaflet-sidebar.css' %}">
        <script src="{% static 'js/leaflet/leaflet-sidebar.js' %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'css/leaflet/leaflet-label.css' %}">
        <script src="{% static 'js/leaflet/leaflet-label.js' %}"></script>
        <script src="{% static 'js/leaflet/leaflet_numbered_markers.js' %}"></script>
        <!-- leaflet info -->
        <script src="{% static 'js/leaflet/L.Control.Info.js' %}"></script>
        <!-- leaflet extramarkers -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/leaflet/leaflet.extra-markers.min.css' %}">
        <script src="{% static 'js/leaflet/leaflet.extra-markers.js' %}"></script>
        <!-- leaflet export -->
        <script src="{% static 'js/leaflet/leaflet_export.js' %}"></script>
        <script src="{% static 'js/leaflet/html2canvas.js' %}"></script>
        <!-- leaflet gps -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/leaflet/leaflet-gps.css' %}">
        <script src="{% static 'js/leaflet/leaflet-gps.js' %}"></script>
        <!-- leaflet easybutton -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet-easybutton@2/src/easy-button.css">
        <script src="https://cdn.jsdelivr.net/npm/leaflet-easybutton@2/src/easy-button.js"></script>
        <!-- leaflet measure -->
        <link rel="stylesheet" href="{% static 'css/leaflet/leaflet.measure.css' %}">
        <script src="{% static 'js/leaflet/leaflet.measure.js' %}"></script>
        <!-- leaflet providers -->
        <script src="{% static 'js/leaflet/leaflet-providers.js' %}"></script>
        <!-- leaflet panel-layers -->
        <link rel="stylesheet" href="{% static 'css/leaflet/leaflet-panel-layers.src.css' %}">
        <script src="{% static 'js/leaflet/leaflet-panel-layers.src.js' %}"></script>
        <!-- leaflet moving-markers -->
        <script src="{% static 'js/leaflet/MovingMarker.js' %}"></script>

        <!-- nicescroll -->
        <script src="{% static 'js/jquery.nicescroll.js' %}"></script>

        <!-- cookiealert.css -->
        <link rel="stylesheet" href="{% static 'css/cookiealert.css' %}">
        <!-- Google Analytics -->
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-180596592-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-180596592-1');
        </script>
        {% block imports %}{% endblock %}


        <style>
            #alertas_push{
                position: fixed;
                top: 0;
                left: 0;
                z-index: 2000;
                width: 100%;
            }
            .leaflet-top {
                top: 80px;
            }
            .leaflet-bottom .leaflet-control-zoom {
                bottom: 60px;
            }
            .leaflet-sidebar{
                top: 60px;
            }
            {% block css %}
            {% endblock %}
        </style>
    </head>
    <body class="h-100">
    {% include "header/headerFixed.html" %}
    {% include "popups/loader.html" %}
        <script type="text/javascript">
            function crearAviso(id, comentario, tiempo){
                var divAlert = document.createElement("div");
                divAlert.classList.add('alert','alert-success');
                divAlert.setAttribute("role", "alert");
                divAlert.id = id;
                var textAlert = document.createTextNode(comentario);
                divAlert.prepend(textAlert);

                $("#alertas_push").append(divAlert);
                window.setTimeout(function() {
                    $("#"+id).fadeTo(500, 0).slideUp(tiempo, function(){
                        $(this).remove();
                    });
                }, 1000);
            }
        </script>
        <section id="alertas_push"></section>

        <!-- Contenido -->
        <main class="h-100">
            {% block content %}{% endblock %}
        </main>
        {% block outMain %}{% endblock %}
        
        {% include "bottom/footerFixed.html" %}

        <script src="{% static 'js/cookiealert.js' %}"></script>
        
    </body>
</html>
