{% load static %}
<!-- ======= Capacidades Redes Section ======= -->

<section id="capacidades" class="about">
  <div class="container" data-aos="fade-up">
     <!--  <div class="section-title">
        <h2>Capacidades</h2>
        <p>¿A qué nos dedicamos?</p>
      </div>
      -->

    <div class="row">
      <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
        <img src="{% static 'img/about 3.jpg' %}" class="img-fluid" alt="">
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
        <h3>Los seres vivos estamos sometidos a una amplia gama de riesgos, desde los de origen puramente natural, a aquellos naturales influenciados por la actividad humana, a finalmente los que su origen están ligados al desarrollo industrial y tecnológico. </h3>
        <p class="font-italic">Paralelamente a ese desarrollo, se ha ido disponiendo de tecnologías capaces de informar en tiempo cuasi real, de aquellas alteraciones que pueden ser significativas y que pueden suponer un riesgo para la población existente en los entornos afectados.</p>
        <ul>
          <li><i class="icofont-check-circled"></i>En este sentido y dado la existencia en la provincia de Cáceres de la central nuclear de Almaraz, en funcionamiento desde 1983 su Unidad I y en 1984 su Unidad II, desde 1989 se inició en colaboración con la Junta de Extremadura el diseño e implementación por fases, de lo que en la actualidad constituye la Red de Alerta Radiológica de Extremadura, o RAREx. </li>
          <li><i class="icofont-check-circled"></i>En la actualidad está integrada por 17 estaciones fijas, la mayoría en el entorno de la citada central nuclear de Almaraz. La gestión de la calidad de su funcionamiento está avalada por la certificación que posee en base a la Norma ISO 9001 y el monitoraje que realiza de los niveles de tasa de dosis por la acreditación existente en base a la  Norma ISO 17025.</li>
        </ul>
        <p>
          La experiencia adquirida con esta red, nos ha permitido recientemente el responsabilizarnos de la gestión de la red de predicción de inundaciones en Extremadura o SPIDA. Ésta, que se encuentra en sus primeras fases de desarrollo, la integran 20 estaciones fijas y su utilidad ha sido patente desde el mismo momento de su instalación en 2019.  
        </p>
      </div>
    </div>
  </div>
</section><!-- End About Section -->
