<!-- ======= Counts Section ======= -->
<section id="counts" class="counts section-bg">
  <div class="container">
    <!--section id="partner"-->
      <!--div class="container"-->
          <h2 id="partner_name">Nuestros principales colaboradores</h2>
          <!--p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> et dolore magna aliqua. Ut enim ad minim veniam</p-->
        </div>

    <div class="row counters">

      <div class="col-lg-3 col-6 text-center">
        <span><a href="#"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms" src="assets/img/partners/anpc.png"></a></span>
      </div>

      <div class="col-lg-3 col-6 text-center">
        <span><a href="#"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms" src="assets/img/partners/anpc.png"></a></span>
      </div>

      <div class="col-lg-3 col-6 text-center">
        <span><a href="#"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms" src="assets/img/partners/anpc.png"></a></span>
      </div>

      <div class="col-lg-3 col-6 text-center">
        <span><a href="#"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms" src="assets/img/partners/anpc.png"></a></span>
      </div>

      <div class="col-lg-3 col-6 text-center">
        <span><a href="#"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms" src="assets/img/partners/anpc.png"></a></span>
      </div>

    </div>

  </div>
</section><!-- End Counts Section -->
