{% load static %}


<section id="descripcion-curso" class="about">
  
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Del {{ curso.fecha_inicio.day }} al {{ curso.fecha_fin }}</h2>
      <p>{{ curso.titulo }}</p>
    </div>

    <div class="row">
      <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
        <img src="{% static 'img/cursos/' %}{{ curso.imagen }}" class="img-fluid" alt="">
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
        <h3>{{ curso.resumen }}</h3>
        {{ curso.descripcion|safe }}
      </div>
    </div>

  </div>
</section>
