{% load static %}
<!-- ======= Testimonials Section ======= -->
<section id="testimonials" class="testimonials">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Testimonios</h2>
      <p>¿Qué dicen sobre nosotros?</p>
    </div>

    <div class="owl-carousel testimonials-carousel" data-aos="zoom-in" data-aos-delay="100">

        <div class="testimonial-wrap">
          <div class="testimonial-item">
            <h3>Segundo Píriz</h3>
            <h4>Rector de  la UEx</h4>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              El centro ALERTA2 es un ejemplo más de la transferencia de los resultados de investigación de la Universidad de Extremadura a la sociedad
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>
        </div>

    </div>

  </div>
</section><!-- End Testimonials Section -->
