<div class="row">
    {% for s in sesiones %}
        <div class="col-12">
            <div class="row border border-info my-2 p-2 rounded">
                <div class="col-3">
                    <div class="row">
                        <div class="col-12">
                            {% if s.infoSesion.id_disp_movil.tipo == 'FURGONETA' %}
                                <i class="fal fa-truck fa-4x"></i>                
                            {% elif s.infoSesion.id_disp_movil.tipo == 'DRONE' %}
                                <i class="fal fa-drone-alt fa-4x"></i>
                            {% elif s.infoSesion.id_disp_movil.tipo == 'COCHE' %}
                                <i class="fal fa-car fa-4x"></i>
                            {% elif s.infoSesion.id_disp_movil.tipo == 'DETECTOR' %}
                                <i class="fal fa-tablet-rugged fa-4x"></i>
                            {% endif %}
                        </div>
                        <div class="col-12 py-2">
                            <h6>{{ s.infoSesion.id_disp_movil.nombre }}</h6>
                        </div>
                    </div>
                </div>
                <div class="col-9">
                    <div class="row">
                        <div class="row border border-dark rounded mx-1 mb-1">
                            <div class="col-5">
                                {{ s.infoSesion.fecha_inicio }}
                            </div>
                            <div class="col-2">
                                <i class="fa-solid fa-arrow-right-long-to-line fa-2x"></i>
                            </div>
                            <div class="col-5">
                                {{ s.infoSesion.fecha_fin }}
                            </div>
                        </div>
                        <div class="col-12">
                            {{ s.infoSesion.nombre_sesion }}
                        </div>
                        {% if s.infoSesion.descripcion %}
                            <div class="col-12">
                                {{ s.infoSesion.descripcion }}
                            </div>
                        {% endif %}
                        <div class="col-2 border border-primary bg-light rounded mx-1 pt-2">
                            {% if s.total %}
                                <h6>{{ s.total }}</h6>
                            {% else %}
                                <i class="fa-solid fa-empty-set"></i>
                            {% endif %}
                        </div>
                        <div class="col-2 m-1">
                            <button type="button" class="btn btn-primary"  onclick="centrarEn({{ s.valorPrimero.lat|safe }},{{ s.valorPrimero.lon|safe }})"><i class="fa-solid fa-location-arrow"></i></button>    
                        </div>
                        <div class="col-2 m-1">
                            <button type="button" class="btn btn-primary"  onclick="dibujar({{ s.infoSesion.id }})"><i class="fa-solid fa-pen-line"></i></button>    
                        </div>
                        <div class="col-2 m-1">
                            <button type="button" class="btn btn-primary"  onclick="recorrer({{ s.infoSesion.id }})"><i class="fa-solid fa-scribble"></i></button>    
                        </div>
                        <div class="col-2 m-1">
                            <button type="button" class="btn btn-primary"  onclick="borrar({{ s.infoSesion.id }})"><i class="fa-solid fa-eraser"></i></button>    
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    {% endfor %}
</div>