{% extends "base/base_mapa.html" %}
{% load static %}
{% load i18n %}
{% block title %}
    RARE
{% endblock %}
{% block imports %}

    <link href="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.css" rel="stylesheet">
    <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.js"></script>

{% endblock %}
{% block css %}
    .leaflet-marker-icon .number{
        position: relative;
        top: 0px;
        left: -20px;
        font-size: 16px;
        font-weight: bold;
        width: 25px;
        text-shadow: 1px 1px #000;
    }
    .leaflet-left{
        width: 100%;
    }

    .icon-normal{
        color: #1E5024;
    }
    .icon-retraso-1{
        color: #BFB600;
    }
    .icon-retraso-2{
        color: #EE5F0D;
    }
    .divider
    {
        position: relative;
        margin-top: 20px;
        height: 1px;
    }

    .div-transparent:before
    {
        content: "";
        position: absolute;
        top: 0;
        left: 5%;
        right: 5%;
        width: 90%;
        height: 1px;
        background-image: linear-gradient(to right, transparent, rgb(48,49,51), transparent);
    }
    .progress{
        position:absolute;
        width:100%;
        bottom: 0px;
        z-index: 1;
        background-color: rgba(255, 255, 255, 0);
    }
{% endblock %}
{% block content %}
    <div id="mapid" class="w-100 h-100"></div>
    <div id="sidebarMapa" class="leaflet-sidebar collapsed">
      <!-- Nav tabs -->
        <div class="leaflet-sidebar-tabs">
            <ul role="tablist"> <!-- top aligned tabs -->
                <li onclick="rellenarTablas();$('.do-nicescrol').getNiceScroll().resize();centerMap();"><a href="#network" role="tab"><i class="pt-2 fas fa-network-wired"></i></a></li>
                <li><a href="#station" role="tab"><i class="pt-2 fas fa-laptop-house"></i></a></li>
                <li><a href="#vehicles" role="tab"><i class="pt-2 fab fa-wpexplorer"></i></a></li>
            </ul>
        </div>

        <!-- Tab panes -->
        <div class="leaflet-sidebar-content do-nicescrol">
            <div class="leaflet-sidebar-pane" id="network">
                <h1 class="leaflet-sidebar-header">Red<div class="leaflet-sidebar-close"><i class="pt-2 fas fa-network-wired"></i></div></h1>
                <div class="content">
                    <table 
                        id="tableEstaciones"
                        data-row-style="rowStyleStation"
                        class="table w-auto small"
                    >
                        <thead class="thead-dark">
                            <tr>
                                <th data-field="nombre">Nombre</th>
                                <th data-field="valor">Tasa de Dosis</th>
                                <th data-field="fecha">Fecha última</th>
                                <th data-field="fondo">Fondo radiológico</th>
                            </tr>
                        </thead>
                    </table>
                    <table 
                        id="tableMensajes"
                        data-total-rows="5"
                        class="table w-auto small table-condensed"
                        style="max-height: 600px; height: 600px"
                    >
                        <thead class="thead-dark">
                            <tr>
                                <th data-field="fecha">Fecha</th>
                                <th data-field="hora_envio">Hora</th>
                                <th data-field="mensaje">Mensaje</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div class="leaflet-sidebar-pane" id="station">
                <h1 class="leaflet-sidebar-header">Estación<div class="leaflet-sidebar-close"><i class="pt-2 fas fa-laptop-house"></i></div></h1>
                <div class="row">
                    <div id="stationCard" class="card mt-3" style="width:100%">
                        <img id="station_photo" class="card-img-top" alt="Card image cap">
                        <div class="card-body">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-4"><h2><i class="fas fa-digital-tachograph"></i></h2></div>
                                        <div class="col-8"><h4>Último dato:<br><span id="station_dose">station_dose</span> &mu;Sv/h</h4></div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-4"><h2><i class="far fa-clock"></i></h2></div>
                                        <div class="col-8"><h4><span id="station_date">station_date</span></h4></div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-4"><h2><i class="fas fa-chart-bar"></i></h2></div>
                                        <div class="col-8"><h4>Fondo radiológico:<br><span id="station_avg">station_avg</span> &mu;Sv/h</h4></div>
                                    </div>
                                </li>
                            </ul>
                            <div class="divider div-transparent"></div>
                            <div class="d-flex justify-content-center my-3">
                                <a id="url_station" class="btn btn-outline-primary">Entrar estación</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="leaflet-sidebar-pane" id="vehicles">
                <h1 class="leaflet-sidebar-header">Vehiculos<div class="leaflet-sidebar-close"><i class="pt-2 fab fa-wpexplorer"></i></div></h1>
                <div id="info_moviles" class="mt-3" style="width:100%"></div>
            </div>
        </div>
    </div>
    <script src="{% static 'js/rare/crearMapaRAREx.js' %}" crossorigin="anonymous"></script>
    <script>
        // listas de información de tablas
        var listaEstaciones = [];
        var listaMensajes = [];

        // nice scroll para los paneles de la tabla
        $(".do-nicescrol").niceScroll();
        
        // layer_ArcgisSat, layer_OpenStreetMap, layer_OpenStreetMapMunicipios, layer_OpenTopMap, layer_StamenTerrain
        layer_OpenStreetMap.addTo(map);

        map.setView([39.4034522,-6.7628017], 8);
        
        var estaciones = L.layerGroup();
        map.addLayer(estaciones);
        var disp_moviles = L.layerGroup();
        map.addLayer(disp_moviles);
    
        //DEFINO EL BOTOM HOME (CENTRA EL MAPA EN EXTREMADURA)
        var botonHome = L.easyButton({
            states: [{
                    stateName: 'zoom-to', // nombre del estado
                    icon: '<i class="fas fa-home pt-1" style="font-size:20px;"></i>', // nombre del icono
                    title: 'Ajustar mapa', // titulo del boton
                    onClick: function(btn, map) { // evento del boton
                        centerMap();
                    }
            }]
        });
        map.addControl(botonHome);

        function ubicaciones(){
             $.ajax({
                type: 'GET',
                url: "/private/rare/ubicacionesInteres/",
                success: function (data) {
                    data.forEach(function (item, index) {
                        var icon;
                        if (item.tipo == 'Central'){
                            icon = L.icon({
                                iconUrl: '{% static img %}'+'img/rare/nuclear-plant.png',
                                iconSize:     [48, 48], // size of the icon
                                iconAnchor:   [48, 48], // point of the icon which will correspond to marker's location
                            });
                            imagen = '{% static img %}'+'img/rare/nuclear-plant.png';
                        }
                        else if (item.tipo == 'Almacenamiento'){
                            icon = L.icon({
                                iconUrl: '{% static img %}'+'img/rare/container.png',
                                iconSize:     [48, 48], // size of the icon
                                iconAnchor:   [48, 48], // point of the icon which will correspond to marker's location
                            });
                            imagen = '{% static img %}'+'img/rare/container.png';
                        }
                        auxMarker = new L.marker([item.lat,item.lon], {icon: icon});
                        ubicacionesInteres.addLayer(auxMarker);
                    });
                }
            })
        }
        ubicaciones();
        // metodo de recarga de valores de las estaciones
        function recargarValores(){
            crearAviso(Date.now(), "Solicitando valores de estaciones...",2000);
            $.ajax({
                type: "GET",
                dataType: "json",
                url:"/private/rare/mapLive/recarga/",
                success: function(data)
                {
                    estaciones.clearLayers();
                    listaEstaciones = JSON.parse(data).lista;
                    $(".do-nicescrol").getNiceScroll().resize();

                    var imagen = "";
                    for (let i = 0; i < listaEstaciones.length; i++) {
                        var estacion = listaEstaciones[i];
                        if (estacion.tipo == 'aire')
                            imagen = '{% static img %}'+'img/rare/station_air.png';
                        else if (estacion.tipo == 'agua')
                            imagen = '{% static img %}'+'img/rare/station_water.png';
                        var clase_icono = "icon-normal";
                        if (estacion.retraso == 1)
                            clase_icono = "icon-retraso-1";
                        else if (estacion.retraso == 2)
                            clase_icono = "icon-retraso-2";

                        marker = new L.marker([estacion.lat,estacion.lon], {
                                icon:	new L.NumberedDivIcon(
                                        {
                                            iconUrl: imagen, 
                                            number: estacion.valor+'&mu;Sv/h',
                                            className: clase_icono
                                        }
                                    )
                            }).on('click', openMarker);
                        
                        marker.feature = {
                            id: estacion.id,
                            nombre: estacion.nombre,
                            lat: estacion.lat,
                            lon: estacion.lon,
                            tipo: estacion.tipo,
                            fondo: estacion.fondo,
                            valor: estacion.valor,
                            unidad: estacion.unidad,
                            fecha: estacion.fecha,
                            retraso: estacion.retraso
                        };
                        estaciones.addLayer(marker);
                    }
                },

            })
        }
        function recargarMensajes(){
            $.ajax({
                type: "GET",
                dataType: "json",
                url:"/private/rare/mapLive/recargaMensajes/",
                success: function(data)
                {
                    listaMensajes = data.mensajes;
                    $(".do-nicescrol").getNiceScroll().resize();
                },

            })
        }

        function rellenarTablas(){
            if (listaEstaciones.length > 0){
                $('#tableEstaciones').bootstrapTable({
                    data: listaEstaciones
                });
            }   
            if (listaMensajes.length > 0){
                $('#tableMensajes').bootstrapTable({
                    data: listaMensajes
                });
            }   
            $(".do-nicescrol").getNiceScroll().resize();
        }

        function rellenarMoviles(){
            $.ajax({
                type: "GET",
                url:"/private/rare/mapLive/recargaMoviles/",
                success: function(data)
                {
                    $('#info_moviles').html(data);
                    var elementos_disp_moviles = document.getElementsByClassName("dispositivo_movil");
                    for (var i = 0; i < elementos_disp_moviles.length; i++) {
                        var html = "";
                        if (elementos_disp_moviles.item(i).getAttribute('data-tipo') == "FURGONETA"){
                            html = '<div class="row"><div class="col-12 center-block"><i class="fal fa-truck fa-3x"></i></div><div class="col-12 center-block"><h6 text-center></h6></div></div>';
                        }
                        else if (elementos_disp_moviles.item(i).getAttribute('data-tipo') == "DRONE"){
                            html = '<div class="row"><div class="col-12 center-block"><i class="fa-light fa-drone fa-3x"></i></i></div><div class="col-12 center-block"><h6 text-center></h6></div></div>';
                        }
                        else if (elementos_disp_moviles.item(i).getAttribute('data-tipo') == "COCHE"){
                            html = '<div class="row"><div class="col-12 center-block"><i class="fal fa-car fa-3x"></i></div><div class="col-12 center-block"><h6 text-center></h6></div></div>';
                        }
                        else if (elementos_disp_moviles.item(i).getAttribute('data-tipo') == "DETECTOR"){
                            html = '<div class="row"><div class="col-12 center-block"><i class="fal fa-tablet-rugged fa-3x"></i></div><div class="col-12 center-block"><h6 text-center></h6></div></div>';
                        }
                        var icon = L.divIcon({
                            html: html,
                            iconSize: [32, 32],
                            className: 'myDivIcon'
                        });
                        auxMarker = new L.Marker.movingMarker (
                            [[parseFloat(elementos_disp_moviles.item(i).getAttribute('data-base_lat').replace(",", ".")),parseFloat(elementos_disp_moviles.item(i).getAttribute('data-base_lon').replace(",", "."))]]
                            , [2000]);
                        auxMarker.setIcon(icon);
                        auxMarker.feature = {
                            id: elementos_disp_moviles.item(i).getAttribute('data-id'),
                            estacion_id: elementos_disp_moviles.item(i).getAttribute('data-id_estacion'),
                            tipo: elementos_disp_moviles.item(i).getAttribute('data-tipo'),
                            activo: elementos_disp_moviles.item(i).getAttribute('data-activo'),
                            baseLat: parseFloat(elementos_disp_moviles.item(i).getAttribute('data-base_lat').replace(",", ".")),
                            baseLon: parseFloat(elementos_disp_moviles.item(i).getAttribute('data-base_lon').replace(",", ".")),
                            cuentas: [],
                        };

                        if(elementos_disp_moviles.item(i).getAttribute('data-activo') == 0)
                            auxMarker.setOpacity(0.8);
                        
                        disp_moviles.addLayer(auxMarker);
                    }
                },
            })
        }
        rellenarMoviles();
        var actualizarDispMoviles = setInterval(function(){
            for (var i = 0; i < disp_moviles.getLayers().length; i++){
                if (disp_moviles.getLayers()[i].feature.activo == 1){
                    $.ajax({
                        type: "GET",
                        dataType: "json",
                        url:"/private/rare/mapLive/recargaMovil/"+disp_moviles.getLayers()[i].feature.tipo+"/"+disp_moviles.getLayers()[i].feature.estacion_id+"/"+i,
                        success: function(data)
                        {
                            if((disp_moviles.getLayers()[data.marker_id].getLatLng().lat!=data.valor.lat)&&(disp_moviles.getLayers()[data.marker_id].getLatLng().lng!=data.valor.lon)&&disp_moviles.getLayers()[data.marker_id].feature.activo == 1){
                                var newIcon = disp_moviles.getLayers()[data.marker_id].getIcon();
                                if (data.valor.dosis != null){
                                    newIcon.options.html = cambiarTextoMarkerMovil(newIcon.options.html, data.valor.dosis +" &mu;Sv</h6>");
                                }
                                else{
                                    newIcon.options.html = cambiarTextoMarkerMovil(newIcon.options.html, data.valor.cuentas_totales +" cuentas</h6>");
                                }
                                
                                disp_moviles.getLayers()[data.marker_id].setIcon(newIcon);
                                disp_moviles.getLayers()[data.marker_id].moveTo([data.valor.lat, data.valor.lon], 1000, {autostart: true});
                                if (data.valor.cuentas){
                                    disp_moviles.getLayers()[data.marker_id].feature.cuentas = data.valor.cuentas.replace("[","").replace("]","").split(", ");
                                }
                                else{
                                    disp_moviles.getLayers()[data.marker_id].feature.cuentas.push(data.valor.dosis);
                                    if (disp_moviles.getLayers()[data.marker_id].feature.cuentas.length > 50){
                                        disp_moviles.getLayers()[data.marker_id].feature.cuentas.shift();
                                    }
                                }
                                console.log(disp_moviles.getLayers()[data.marker_id].feature.cuentas);
                                disp_moviles.getLayers()[data.marker_id].feature.labels = data.labels;
                                disp_moviles.getLayers()[data.marker_id].feature.detector = data.valor.detector;
                                
                                pintarPopup(disp_moviles.getLayers()[data.marker_id]);

                                disp_moviles.getLayers()[data.marker_id].on('click', function(e) {
                                    pintarPopup(this);
                                });

                                map.flyTo([data.valor.lat, data.valor.lon], 18, {
                                    "animate": true,
                                    "pan": {
                                        "duration": 8
                                    }
                                });

                                $.ajax({
                                    type: "GET",
                                    url:"/private/rare/mapLive/recargaParametrosMoviles/"+disp_moviles.getLayers()[data.marker_id].feature.estacion_id,
                                    success: function(data)
                                    {
                                        document.getElementById("parametros_"+data.split("$")[0]).innerHTML = data.split("$")[1];
                                        sidebar.open('vehicles');
                                    }
                                });
                            }
                            
                        },
                    })  
                }
            }
        },20000);

        function cambiarTextoMarkerMovil(htmlOrigen, texto){
            var newHtml = htmlOrigen.split("<h6 text-center>")[0]+"<h6 text-center>"+ texto + "</h6>" + htmlOrigen.split("</h6>")[1];
            return newHtml;
        }

        function pintarPopup(marker){
            var customPopup = "<div id='mainDivChartMovil_"+marker.feature.id+"'><canvas id='chartMovil_"+marker.feature.id+"' width='500' height='200'></canvas></div>";
            var customOptions =
                {
                    'maxWidth': '500',
                }
            if (document.getElementById("mainDivChartMovil_"+marker.feature.id) == null){
                marker.bindPopup(customPopup,customOptions).openPopup();
            }
            else{
                document.getElementById("chartMovil_"+marker.feature.id).remove();
                document.getElementById("mainDivChartMovil_"+marker.feature.id).innerHTML = "<canvas id='chartMovil_"+marker.feature.id+"' width='500' height='200'></canvas>";
            }
            console.log(marker.feature.cuentas);

            /**
            new Chart(document.getElementById("chartMovil_"+marker.feature.id), {
                type: 'bar',
                data: {
                    labels: marker.feature.labels,
                    datasets: [
                        {
                            label: "Dosis",
                            data: marker.feature.cuentas,
                            backgroundColor: 'rgba(10, 10, 200, 1)',
                        }
                    ]
                },
                options: {
                    legend: { display: false },
                    title: {
                        display: true,
                        text: 'Espectro ' + marker.feature.detector
                    },
                    scales: {
                        xAxes: [ {
                            display: true,
                        } ],
                    }
                }
            });
            **/
            const ctx = document.getElementById("chartMovil_"+marker.feature.id).getContext('2d');
            const chart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: Array.from(Array(50).keys()), // generamos una etiqueta para cada valor
                    datasets: [{
                        label: 'Dosis',
                        backgroundColor: 'rgba(100, 99, 132, 0.2)',
                        borderColor: 'rgba(100, 99, 132, 1)',
                        borderWidth: 1,
                        data: marker.feature.cuentas,
                    }]
                },
                options: {
                    scales: {
                    yAxes: [{
                            ticks: {
                            beginAtZero: true
                            }
                        }]
                    }
                }
            });


        }

        function cambioCheckMovil(idMarker){
            for (var i = 0; i < disp_moviles.getLayers().length; i++){
                if (disp_moviles.getLayers()[i].feature.id == idMarker){
                    if (disp_moviles.getLayers()[i].feature.activo == 1){
                        disp_moviles.getLayers()[i].feature.activo = 0;
                        var newIcon = disp_moviles.getLayers()[i].getIcon();
                        newIcon.options.html = cambiarTextoMarkerMovil(newIcon.options.html, "");
                        disp_moviles.getLayers()[i].setIcon(newIcon);
                        disp_moviles.getLayers()[i].moveTo([disp_moviles.getLayers()[i].feature.baseLat, disp_moviles.getLayers()[i].feature.baseLon], 1000, {autostart: true});
                        disp_moviles.getLayers()[i].setOpacity(0.8);
                        disp_moviles.getLayers()[i].closePopup();
                        document.getElementById("parametros_"+disp_moviles.getLayers()[i].feature.estacion_id).innerHTML = "";
                    }
                    else{
                        disp_moviles.getLayers()[i].feature.activo = 1;
                        disp_moviles.getLayers()[i].setOpacity(1);
                    }
                }
            }
        }

        function rowStyleStation(row, index) {
            var classes = [
                'bg-blue',
                'bg-green',
                'bg-orange',
                'bg-yellow',
                'bg-red'
            ]
            
            if (row.valor > row.fondo+0.11){
                return{
                    css: {
                        color: 'red'
                    }
                }
            }
            else if (row.valor > row.fondo+0.057){
                return{
                    css: {
                        color: 'orange'
                    }
                }
            }
            else if (row.retraso == 2){
                return{
                    css: {
                        color: 'orange'
                    }
                }
            }
            else if (row.retraso == 1){
                return{
                    css: {
                        color: '#BFB600'
                    }
                }
            }
            else if (row.valor > row.fondo){
                return{
                    
                    css: {
                        color: 'blue'
                    }
                }
            }
            else{
                return{
                    css: {
                        color: 'green'
                    }
                }
            }
        }
        function openMarker(e){
            $('#stationCard').show();
            sidebar.open('station');
            var url = '{% static "img/rare/estaciones/" %}' + e.target.feature.id + '.png';
            $("#station_photo").attr("src", url);
            $("#station_photo").css("background-image", "url('" + url + "')");
            $("#station_date").html(e.target.feature.fecha);
            $("#station_dose").html(e.target.feature.valor);
            $("#station_avg").html(e.target.feature.fondo);
            $("#url_station").attr("href","/private/rare/station/"+e.target.feature.id);
            map.flyTo([e.target.feature.lat,e.target.feature.lon], 11, {
                "animate": true,
                "pan": {
                    "duration": 10
                }
            });
        }

        function centerMap(){
            map.flyTo([39.4034522,-6.7628017], 8, {
                "animate": true,
                "pan": {
                    "duration": 10
                }
            });
        }

        var sidebar = L.control.sidebar({
            autopan: true,       // whether to maintain the centered map point when opening the sidebar
            closeButton: true,    // whether t add a close button to the panes
            container: 'sidebarMapa', // the DOM container or #ID of a predefined sidebar container that should be used
            position: 'right',     // left or right
        }).addTo(map);
        $('#stationCard').hide();

        var progressBar = L.control({ position: "bottomleft" });

        progressBar.onAdd = function(map) {
            var div = L.DomUtil.create("div", "progress");
            div.innerHTML += '<div id="bar" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="300"></div>';
            return div;
        };
        var tiempo_actualizar=300; //segundos (5 minutos)
        var progreso = tiempo_actualizar;
        var idIterval = setInterval(function(){
            progreso +=1;
            if(progreso >= tiempo_actualizar){
                progreso=0;
                $('#bar').css('width', progreso + '%');
                recargarValores();
                recargarMensajes();
                rellenarTablas();
            }
            else{      
                var valorAncho = (progreso/tiempo_actualizar) * 100;
                $('#bar').css('width', valorAncho + '%');
            }
        },1000);
        map.addControl(progressBar);

        /* Salvapantallas */
        // Cierra el panel de la estación y centra el mapa
        function resetMap(){
            sidebar.close('station');
            centerMap();
        }

        // actuacion cuando el raton se mueve, si se ha llegado a activar el salvapantallas cierra el panel si está abierto y centra el mapa
        // resetea el temporizador de tiempo con el raton parado
        document.onmousemove = function(){
            if (salvapantallas_activo){
                salvapantallas_activo = false;
                pasa = 0;
                resetMap();
            }
            clearTimeout(tempor);
            clearTimeout(temporAnimacion);
            controlar();
        };
        // arranca el temporizador de raton parado al iniciar
        window.onload=controlar();
        // bandera del salvapantallas activo
        var salvapantallas_activo = false;
        var tempor, temporAnimacion;
        // bandera de actuacion, si false voy a abrir estacion, si false reseteo el mapa
        var vuelta = false;
        // temporizador de arranque del salvapantallas
        function controlar(){
            tempor=setInterval("salvapantallas()",30000);
        }
        // si el terminal tiene una pantalla mayor a 480 activo el salvapantallas
        function salvapantallas(){
            var w = $(window).width();
            if (!comprobarDispMovilesActivos()&&(w > 480)&&(salvapantallas_activo == false)){
                salvapantallas_activo = true;
                temporAnimacion=setInterval("animacionSalvapantallas()",10000);
            }
        }
        function comprobarDispMovilesActivos(){
            var checkboxDispMoviles = document.getElementsByClassName("checkbox_disp_moviles");
            for (var i = 0; i < checkboxDispMoviles.length; i++) {
                if(checkboxDispMoviles.item(i).checked)
                    return true;
            }
            return false;
        }

        // si vuelta es false obtengo un marcador aleatorio
        // vuelo al marcador
        // pulso el marcado y activo la bandera de vuelta
        // si vuelta es true, reseteo el mapa 
        function animacionSalvapantallas(){
            if(!vuelta){
                var aleatorio = Math.ceil(Math.random() * estaciones.getLayers().length);
                map.flyTo(estaciones.getLayers()[aleatorio-1].getLatLng(), 12, {
                    "animate": true,
                    "pan": {
                        "duration": 4
                    }
                });
                estaciones.getLayers()[aleatorio-1].fire('click');
                vuelta = true;
            }
            else{
                resetMap();
                vuelta = false;
            }
        }
    </script>
{% endblock %}

