{% extends "base/base_spida.html" %}

{% load static %}

{% block imports %}
<style>
    /* Header/Logo Title */
.header {
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  font-size: 30px;
      background:#fff url(../../static/img/spida/documentacion/rainy-10.gif) center center / cover no-repeat ;
   /* background-size:cover;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-position: center;*/
     background-position: bottom;
}

.header h1{
    font-family: 'Brush Script MT', cursive;
    font-size:100px;
}


@media (min-width: 500px) {
    .header h1{
      font-size: 100px;
    }
}

@media (max-width: 500px) {
    .header h1{
      font-size: 60px;
    }
}

html, body{
  background: #343A40;
}

#content{
  background-color: #343A40;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(110,201,136,0.7);
  transition: 0.3s;
  border-radius:25px 25px 25px 25px;
  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
  }
  a {
    color: initial;
    &:hover {
      text-decoration: initial;
    }
  }
  .text-muted i {
    margin: 0 10px;
  }
}

.card-text{
  text-align: justify;
}

.card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 25px 25px 0px 0px;
}

.card-title{
			font-family: 'Brush Script MT', cursive;
			font-size:30px;
			text-align:center;
			color: #49A1A4;
			font-weight: bold;
}



</style>
{% endblock %}

{% block content %}

<div class="header">
  <h1>Cámaras de Spida</h1>
  <!--<p>En esta sección podreis consultar los eventos de inundación registrados y monitorizados por la Red Spida</p>-->
</div>

<div class="container">
    <!-- formulario para seleccionar la estacion -->
    <form action="/private/spida/consultarCamaras/" method="post">
        {% csrf_token %}
        <!-- select de la estacion a consultar -->
        <label for="estacion" style="color: #fff;">Selecciona la estación a consultar</label>
        <select name="estacion" id="estacion" class="form-control" style="width: 50%; margin: 0 auto; margin-bottom: 20px;">
          <option value="spida01">spida01</option>
          <option value="spida02">spida02</option>
          <option value="spida03">spida03</option>
          <option value="spida04">spida04</option>
        </select>
        <!-- boton de enviar -->
        <button type="submit" class="btn btn-primary" style="width: 50%; margin: 0 auto; margin-bottom: 20px;">Consultar</button>
    </form>
        <p style="color: #fff;">Mostrar las cámaras aquí</p>
</div>


<script>

</script>
{% endblock %}
