{% extends "base/base_spida.html" %}


{% load static %}

{% block imports %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/spida/loginSpida.css' %}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
{% endblock %}


{% block content %}
   <div class="login-dark">
        <form method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <h2 class="sr-only">Login Form</h2>
            <div class="illustration"><i class="p fas fa-user-lock" style="font-size: 100px"></i><p class="p" >SPIDA</p></div>
            <div class="form-group"><input class="form-control" type="username" name="username" placeholder="User"></div>
            <div class="form-group"><input class="form-control" type="password" name="password" placeholder="Password"></div>
            <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Log In</button></div><a href="#" class="forgot">Forgot your email or password?</a></form>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
{% endblock %}


