{% extends "base/base_timetrackpro.html" %}
{% load static %}

{% block content %}


        <div id='calendar' class="mb-3 mt-3"></div>


  <script>

    document.addEventListener('DOMContentLoaded', function() {
      var calendarEl = document.getElementById('calendar');
      var calendar = new FullCalendar.Calendar(calendarEl, {
        initialView: 'dayGridMonth',
        headerToolbar: {
            left: 'prev,next',
            center: 'title',
            right: 'dayGridWeek' // user can switch between the two
        },
        views: {
            dayGridFourWeek: {
            type: 'dayGrid',
            duration: { weeks: 4 }
            }
        },
      });
      calendar.render();
    });

  </script>
    
{% endblock %}