{% extends "base/base_timetrackpro.html" %}
{% load static %}
{% block content %}



</style>

<div class="page-header min-vh-75">
  <div class="container filaForm">
    <div class="row d-flex align-items-center">
      <div class="col-md-4">
        <div class="d-block shadow-xl border-radius-xl">
          <img src="{% static 'img/timetrackpro/usuarios/' %}{{empleado.id_usuario.img}}" alt="img-blur-shadow"
            class="img-fluid shadow border-radius-xl">
        </div>
      </div>
      <div class="col-lg-8">
        <form action="/private/timetrackpro/editar-empleado/{{empleado.id_usuario.id}}" method="POST"
          enctype="multipart/form-data">
          {% csrf_token %}
          <div class="card card-plain">
            <div class="card-header pb-0 text-left bg-transparent">
              <h3 class="font-weight-bolder text-danger text-gradient">Editar Datos de registro de jornada</h3>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-xl-2">
                  <label>ID</label>
                  <input type="text" class="form-control" placeholder="ID en el dispositivo"
                    aria-label="Nombre en el dispositivo" id="id_empleado_maquina" name="id_empleado_maquina"
                    aria-describedby="text-addon" value="{{empleado.id_empleado.id}}">
                </div>
                <div class="col-xl-4">
                  <label>Nombre</label>
                  <input type="text" class="form-control" placeholder="Nombre en el dispositivo"
                    aria-label="Nombre en el dispositivo" id="nombre_empleado_maquina" name="nombre_empleado_maquina"
                    aria-describedby="text-addon" value="{{empleado.id_empleado.nombre}}">
                </div>
                <div class="col-xl-4">
                  <label>¿Empleado en prácticas?</label>
                  <div class="form-switch ps-1 my-2">
                    <input class="form-check-input ms-auto" type="checkbox">
                  </div>
                </div>
              </div>
              <div class="row mt-4">
                <div class="col-xl-3">
                  <label>Turno</label>
                  <select class="form-control" aria-label="Nombre en el dispositivo" id="turno_empleado"
                    name="turno_empleado" aria-describedby="text-addon">
                    {% if empleado.id_empleado.turno %}
                    <option value="{{empleado.id_empleado.turno}}" selected hidden>{{empleado.id_empleado.turno}}
                    </option>
                    {% else %}
                    <option value="Sin asignar" selected hidden>Sin asignar</option>
                    {% endif %}
                    <option value="Mañana">Mañana</option>
                    <option value="Tarde">Tarde</option>
                    <option value="Turno Partido">Turno Partido</option>
                  </select>
                </div>
                <div class="col-xl-3">
                  <label>Jornada Máxima</label>
                  <input class="form-control" type="number" step="0.5" id="jornada_maxima_empleado"
                    name="jornada_maxima_empleado" value="{{empleado.id_empleado.horas_maxima_contrato|safe}}">
                </div>
              </div>
              <div class="row mt-4">
                <div class="col-xl-12">
                  <label class="d-inline">Dispositivos donde puede fichar</label>
                  <div class="d-inline form-switch ps-0">
                    <label class="form-check-label text-body ms-3 text-truncate w-80 mb-0 d-inline">Alerta2</label>
                    <input class="form-check-input ms-auto" type="checkbox">
                  </div>
                  <div class="d-inline form-switch ps-0">
                    <label class="form-check-label text-body ms-3 text-truncate w-80 mb-0 d-inline">Laboratorio</label>
                    <input class="form-check-input ms-auto" type="checkbox">
                  </div>
                  <div class="d-inline form-switch ps-0">
                    <label class="form-check-label text-body ms-3 text-truncate w-80 mb-0 d-inline">Departamento</label>

                    <input class="form-check-input ms-auto" type="checkbox">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card card-plain">
            <div class="card-header pb-0 text-left bg-transparent">


              <h3 class="font-weight-bolder text-danger text-gradient">Editar Datos Personales</h3>
            </div>
            <div class="card-body">
              <div class="row">

                <div class="col-xl-3">
                  <label>DNI</label>
                  <div class="mb-3">
                    <input type="text" class="form-control" placeholder="12345678-A" aria-label="DNI del empleado"
                      id="dni_empleado" name="dni_empleado" aria-describedby="text-addon"
                      value="{{empleado.id_usuario.dni}}">
                  </div>
                </div>

                <div class="col-xl-4">
                  <label>Nombre</label>
                  <div class="mb-3">
                    <input type="text" class="form-control" placeholder="Nombre completo" aria-label="Nombre"
                      aria-describedby="text-addon" name="nombre_empleado" id="nombre_empleado"
                      value="{{empleado.id_usuario.nombre}}">
                  </div>
                </div>
                <div class="col-xl-5">
                  <label>Apellidos</label>
                  <div class="mb-3">
                    <input type="text" class="form-control" placeholder="Apellidos" aria-label="Apellidos del empleado"
                      aria-describedby="text-addon" name="apellidos_empleado" id="apellidos_empleado"
                      value="{{empleado.id_usuario.apellidos}}">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-xl-3">
                  <label>Fecha de Alta</label>
                  <div class="mb-3">
                    <input type="date" class="form-control" aria-label="Nombre en el dispositivo"
                      aria-describedby="text-addon" name="fechaNacimiento_empleado" id="fechaNacimiento_empleado"
                      value="{{empleado.id_usuario.fecha_alta_app|safe}}">
                  </div>
                </div>
                
                <div class="col-xl-6">
                  <label>Puesto</label>
                  <div class="mb-3">
                    <input type="text" class="form-control" placeholder="Nombre en el dispositivo"
                      aria-label="Nombre en el dispositivo" aria-describedby="text-addon" name="puesto_empleado"
                      id="puesto_empleado" value="{{empleado.id_usuario.puesto}}">
                  </div>
                </div>
                <div class="col-xl-3">
                  <label>Extension</label>
                  <div class="mb-3">
                    <input type="text" class="form-control" placeholder="66656" id="extension_empleado"
                      name="extension_empleado" aria-label="Extensión" aria-describedby="text-addon"
                      value="{{empleado.id_usuario.extension}}">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-3">
                  <label>Fecha de Nacimiento</label>
                  <div class="mb-3">
                    <input type="date" class="form-control" aria-label="Nombre en el dispositivo"
                      aria-describedby="text-addon" name="fechaNacimiento_empleado" id="fechaNacimiento_empleado"
                      value="{{empleado.id_usuario.fecha_nacimiento|safe}}">
                  </div>
                </div>
                <div class="col-xl-6">
                  <label>Dirección</label>
                  <div class="mb-3">
                    <input type="text" class="form-control" placeholder="Calle Principal 3 3ºB"
                      aria-label="Dirección del empleado" aria-describedby="text-addon" name="direccion_empleado"
                      id="direccion_empleado" value="{{empleado.id_usuario.direccion}}">
                  </div>
                </div>
                <div class="col-xl-3">
                  <label>Teléfono</label>
                  <div class="mb-3">
                    <input type="text" class="form-control" placeholder="666555255" id="telefono" name="telefono"
                      aria-label="Teléfono" aria-describedby="text-addon" value="{{empleado.id_usuario.telefono}}">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-3">
                  <label>Teléfono secundario</label>
                  <div class="mb-3">
                    <input type="text" class="form-control" placeholder="666555255" id="telefono2" name="telefono2"
                      aria-label="Teléfono 2" aria-describedby="text-addon" value="{{empleado.id_usuario.telefono2}}">
                  </div>
                </div>
                <div class="col-xl-4">
                  <label>Email</label>
                  <div class="mb-3">
                    <input type="email" class="form-control" placeholder="correo@correo.es" id="email" name="email"
                      aria-label="Email" aria-describedby="email-addon" value="{{empleado.id_usuario.email}}">
                  </div>
                </div>
                <div class="col-xl-5">
                  <label>Email secundario</label>
                  <div class="mb-3">
                    <input type="email" class="form-control" placeholder="correo@correo.es" id="email2" name="email2"
                      aria-label="Email" aria-describedby="email-addon" value="{{empleado.id_usuario.email2}}">
                  </div>
                </div>
              </div>
              <div class="row d-flex align-items-center">
                <div class="col-xl-2">
                  <label class="custom-file-upload" for="fotoEmpleadoSeleccionado"
                    id="labelImagenEmpleadoSeleccionada">Foto del empleado</label>

                  <input type="file" id="fotoEmpleadoSeleccionado" name="fotoEmpleadoSeleccionado" accept="image/*"
                    onchange="previsualizarImagenEmpleado()" style="display:none">

                  <img class="w-75 rounded" id="imagenSubida" src="" alt="foto_empleado" hidden>

                </div>
                <div class="col-xl-10">
                  <label>Información adicional</label>
                  <div class="mb-3">
                    <textarea type="text" class="form-control"
                      placeholder="Agrege la información adicional del empleado"
                      aria-label="Información adicional del empleado" id="infoAdicional_empleado"
                      name="infoAdicional_empleado"
                      aria-describedby="text-addon">{{empleado.id_usuario.info_adicional}}</textarea>
                  </div>
                </div>
              </div>
              <div class="text-center">
                <button type="submit" value="submit" class="btn bg-gradient-danger w-100 mt-4 mb-0">Guardar</button>
              </div>
            </div>
          </div>

        </form>
      </div>

    </div>
  </div>
</div>



<script>
  function previsualizarImagenEmpleado() {
    var archivoInput = document.getElementById('fotoEmpleadoSeleccionado');
    var imagenPrevia = document.getElementById('imagenSubida');
    var etiqueta = document.getElementById('labelImagenEmpleadoSeleccionada');
    var nombreImagen = document.getElementById('nombreImagenSeleccionada');

    if (archivoInput.files && archivoInput.files[0]) {
      var lector = new FileReader();

      lector.onload = function (e) {
        imagenPrevia.src = e.target.result;
        imagenPrevia.style.display = 'block';

        // Ocultar el label y el input
        etiqueta.style.display = 'none';
        archivoInput.style.display = 'none';

        // Mostrar la imagen en el elemento img
        imagenPrevia.removeAttribute('hidden');
      }
      lector.readAsDataURL(archivoInput.files[0]);
    }
  }

</script>

{% endblock %}