
{% extends "base/base_timetrackpro.html" %}
{% load static %}
{% block content %}


  <div class="row">
    <div class="col-12">
      <div class="card mb-4">
        <div class="card-header pb-0">
          <h5>Empleados

            <a href="{% url 'timetrackpro:agregar-usuario' %}" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Dar de alta un empleado en la aplicación">
              <i class="fa-solid fa-user-plus ps-2"></i>
            </a>
          </h5>
        </div>
        <div class="card-body px-0 pt-0 pb-2">
          <div class="table-responsive p-0">
            <table class="table align-items-center mb-0">
              <thead>
                <tr>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Empleado</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Jornada</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Accesos permitidos</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Estado</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Fecha de alta la app</th>
                  <th class="text-secondary opacity-7"></th>
                </tr>
              </thead>
              <tbody>
                {% for e in empleados%}
                <tr>
                  <td>
                    <div class="d-flex px-2 py-1">
                      <div>
                        {% if e.id_usuario__img %}
                        <img src="{% static 'img/timetrackpro/usuarios/' %}{{e.id_usuario__img}}" class="avatar avatar-sm me-3" alt="{{e.id_usuario__nombre}} {{e.id_usuario__apellidos}}">
                        {% else %}
                        <img src="{% static 'img/timetrackpro/usuarios/not_found.jpeg' %}" class="avatar avatar-sm me-3" alt="{{e.id_usuario__nombre}} {{e.id_usuario__apellidos}}">
                        {% endif %}
                      </div>
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="mb-0 text-sm">{{e.id_usuario__nombre}} {{e.id_usuario__apellidos}}</h6>
                        <p class="text-xs text-secondary mb-0">{{e.id_usuario__puesto}}</p>
                      </div>
                    </div>
                  </td>
                  <td>
                    <p class="text-sm font-weight-bold mb-0">{{e.id_empleado__horas_maxima_contrato}} Horas</p>
                    <p class="text-xs text-secondary mb-0">Turno: {{e.id_empleado__turno}}</p>
                  </td>
                  <td class="align-middle text-center">
                    <div>
                      {% if e.id_empleado__maquina_laboratorio == 1 %}
                      <i class="fa fa-check text-success" aria-hidden="true"></i><span class="text-secondary text-xs font-weight-bold"> Laboratorio</span>
                      {% else %}
                      <i class="fa fa-check text-danger" aria-hidden="true"></i><span class="text-secondary text-xs font-weight-bold"> Laboratorio</span>
                      {% endif %}
                    </div>
                    <div>
                      {% if e.id_empleado__maquina_alerta2 == 1 %}
                      <i class="fa fa-check text-success" aria-hidden="true"></i><span class="text-secondary text-xs font-weight-bold"> Alerta2</span>
                      {% else %}
                      <i class="fa fa-check text-danger" aria-hidden="true"></i><span class="text-secondary text-xs font-weight-bold"> Alerta2</span>
                      {% endif %}
                    </div>
                    <div>
                      {% if e.id_empleado__maquina_departamento == 1 %}
                      <i class="fa fa-check text-success" aria-hidden="true"></i><span class="text-secondary text-xs font-weight-bold"> Departamento</span>
                      {% else %}
                      <i class="fa fa-check text-danger" aria-hidden="true"></i><span class="text-secondary text-xs font-weight-bold"> Departamento</span>
                      {% endif %}
                    </div>
                  </td>
                  <td class="align-middle text-center text-sm">
                    {% if e.id_auth_user__is_active %}
                    <span class="badge badge-sm bg-gradient-success">Activo</span>
                    {% else %}
                    <span class="badge badge-sm bg-gradient-danger">Inactivo</span>
                    {% endif %}
                  </td>
                  <td class="align-middle text-center">
                    <span class="text-secondary text-xs font-weight-bold">{{e.id_usuario__fecha_alta_app}}</span>
                  </td>
                  <td class="align-middle">
                    <div>
                      <a href="{% url 'timetrackpro:editar-empleado' id=e.id_usuario__id %}" class="text-secondary font-weight-bold text-xs" data-bs-toggle="tooltip" data-bs-placement="top" title="Editar datos del empleado"><i class="fa-duotone fa-user-pen fa-xl"></i>
                      </a>                      
                    </div>
                    <div>
                      <a href="{% url 'timetrackpro:ver-empleado' id=e.id_usuario__id %}" class="text-secondary font-weight-bold text-xs" data-bs-toggle="tooltip" data-bs-placement="top" title="Ver información del empleado"><i class="fa-duotone fa-arrow-right-to-bracket fa-xl"></i>
                      </a>
                    </div>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}