{% extends "base/base_timetrackpro.html" %}
{% load static %}

{% block content %}
<div class="row">
  <div class="col mx-auto">
    <h1 class="font-weight-bolder mb-0 text-gradient text-primary text-center" id="tituloPagina">
      Informe semanal de asistencia
    </h1>
  </div>
</div>
<div class="row my-4">
  <div class="col-lg-12 col-md-12 mb-md-0 mb-4">
    <div class="card">
      <div class="card-header pb-0">
        <div class="card-body px-0 pb-2">
          <div class="table-responsive">
            <div id="toolbar" class="pt-0">
              <div class="row my-auto">
                <div class="col my-auto">
                  <label class="text-sm"></label>
                  <button class="btn btn-outline-primary" type="button" data-toggle="modal"
                    data-target="#modalEmpleados">
                    Empleados
                  </button>

                </div>
                <div class="col ">
                  <label class="text-sm">Fecha</label>
                  <input type="date" class="form-control" id="fechaInicio" name="fechaInicio"
                    aria-describedby="text-addon">
                </div>
                <div class="col ">
                  <label class="text-sm">Fecha Fin</label>
                  <input type="date" class="form-control" id="fechaFin" name="fechaFin" aria-describedby="text-addon">
                </div>
                <div class="col">
                  <button type="submit" value="submit" class="btn bg-gradient-primary btn-round w-100 mt-4 mb-0"
                    onclick="filtrarTabla()">Filtrar</button>

                  <input type="text" id="inputEmpleados" name="inputEmpleados" hidden>
                </div>
              </div>
            </div>
            <table id="informe_empleados" data-locale="es-ES" data-toggle="table" data-search="true" data-show-columns="true" data-show-columns-toggle-all="true" data-show-fullscreen="true" data-buttons="buttons" data-show-toggle="true" data-buttons-class="" data-show-export="true" data-export-types="['excel', 'pdf']" data-show-refresh="true" data-pagination="true" data-id-field="id" data-page-list="[5,10, 25, 50, 100, All]" data-toolbar="#toolbar" data-filter-control="true"></table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


  <!-- Modal con listado de Empleados -->
  <div class="modal fade" id="modalEmpleados" tabindex="-1" role="dialog" aria-labelledby="modalEmpleadosLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalEmpleadosLabel">Seleccionar Empleados</h5>
          <button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div id="botonesSeleccion">
            <div class="row d-flex justify-content-center mx-4" >
              <button type="button" class="btn bg-gradient-dark btn-primary" onclick="mostrarEmpleadosOcultos(1)">Mostrar Empleados</button>
              <button type="button" class="btn  bg-gradient-dark btn-primary" onclick="mostrarEmpleadosOcultos(2)">Mostrar Ex-Empleados</button>
              <button type="button" class="btn  bg-gradient-dark btn-primary" onclick="mostrarEmpleadosOcultos(3)">Mostrar Todos</button>
            </div>
  
          </div>
          <div id="seleccionarEmpleadoDiv" hidden>
  
            <button class="dropdown-item" type="button" id="todosEmpleados" >
              <input type="checkbox" id="checkTodosEmpleados" onclick="marcarTodos()">
              Seleccionar todos
            </button>
          </div>
          
          <div id="empleadosDiv" hidden>
              
            {% for empleado in empleados %}
            <button class="dropdown-item" type="button" id="empleadosModalExtra"  >
              <input type="checkbox" value="{{empleado.id}}" name="empleadosModalExtra" id="empleadosModalExtraInput">
              {{empleado.nombre}}
            </button>
            {% endfor %}
  
          </div>
          <div id="exEmpleadosDiv" hidden>          
            {% for exEmpleado in exEmpleados %}
            <button class="dropdown-item" type="button" id="exEmpleadosModalExtra" >
              <input type="checkbox" value="{{exEmpleado.id}}" name="exEmpleadosModalExtra" id="exEmpleadosModalExtraInput">
              {{exEmpleado.nombre}}
            </button>
            {% endfor %}
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" id="cerrarEmpleados">Cerrar</button>
          <button type="button" class="btn btn-primary" onclick="obtenerSeleccionados()">Guardar Selecionados</button>
        </div>
      </div>
    </div>
  </div>

<script>
  $("#informe_empleados").bootstrapTable({
    method: "get",
    locale: navigator.language,
    url: "{% url 'timetrackpro:datos-registro-semanal-empleados' %}",
    cache: false,
    columns: [{
      title: "Empleado",
      field: "empleado",
      align: "left",
      width: "10",
      sortable: true,
      formatter: function (value, row) {
        var nombre = row.nombreEmpleado;
        var correcto = row.correcto;
        var jornada = row.jornada;
        var textNombre = "";
        if (correcto == "si") {
          textNombre = '<h6 class="text-sm mb-0"><i class="fa fa-user-circle text-secondary fa-lg me-2" aria-hidden="true"></i>' + nombre + '</h6>';
        } else {
          textNombre = '<h6 class="text-sm mb-0 text-white"><i class="fa fa-user-circle text-white fa-lg me-2" aria-hidden="true"></i>' + nombre + '</h6>';
        }
        var divNombre = '<div>' + textNombre + ' </h6><h6 class="text-sm mb-0 text-secondary"> Jornada: ' + jornada + ' horas semanales </h6>' + '</div>';
        return divNombre;
      }
    },
    {
      title: "Semana",
      field: "semana",
      halign: "left",
      sortable: true,
      align: "left",
      width: "5",
      formatter: function (value, row) {
        const mes = {
          "01": "Ene",
          "02": "Feb",
          "03": "Mar",
          "04": "Abr",
          "05": "May",
          "06": "Jun",
          "07": "Jul",
          "08": "Ago",
          "09": "Sep",
          "10": "Oct",
          "11": "Nov",
          "12": "Dic",
        };

        var fechaInicioSemana = row.inicioSemana;
        var fechaFinSemana = row.finSemana;
        // obtengo la fecha de lectura
        var fechaLectura = row.dia;
        // obtengo la fecha
        var fechaInicio = fechaInicioSemana.split("T")[0];
        mesFecha = fechaFinSemana.split("-")[1];
        fechaInicio = fechaInicio.split("-")[2]
        fechaFin = fechaFinSemana.split("-")[2] + " de " + mes[mesFecha] + " de " + fechaFinSemana.split("-")[0];
        var correcto = row.correcto;
        var textCorrecto = "";
        if (correcto == "si") {
          textCorrecto = '<h6 class="text-sm mb-0">Del ' + fechaInicio + ' al ' + fechaFin + '</h6>';
        } else {
          textCorrecto = '<h6 class="text-sm mb-0 text-white"></i>Del ' + fechaInicio + ' al ' + fechaFin + '</h6>';
        }
        var div = '<div>' + textCorrecto + '</h6></div>';
        return div;
      }
    },
    {
      title: "Horas totales",
      field: "row.horas",
      halign: "left",
      sortable: true,
      align: "left",
      width: "20",
      formatter: function (value, row) {
        var hora = row.horas;
        // redondear a 2 decimales
        hora = Math.round(hora * 100) / 100;
        var correcto = row.correcto;
        var jornada = row.jornada;
        var permisos = row.diasPorPermisoDescontar;
        var vacaciones = row.diasVacaciones;
        var asuntosPropios = row.diasAsuntosPropios;
        var festivos = row.festivos;
        var horasPermisos = permisos * 7.5;
        var horasFestivos = festivos * 7.5;
        var horasVacaciones = vacaciones * 7.5;
        var horasAsuntosPropios = asuntosPropios * 7.5;
        horaPorcentaje = hora + horasPermisos + horasFestivos + horasVacaciones + horasAsuntosPropios;
        console.log(horaPorcentaje);
        hora = Math.round(hora * 100) / 100;
        var resultado = "";
        div = "";
        // calcular el porcentaje de completado
        var porcentaje = (horaPorcentaje / jornada) * 100;
        porcentaje = Math.round(porcentaje * 100) / 100;
    
        var textHora = "";
        if (correcto == "si") {
          switch (true) {
            case (hora == 0):
              resultadoPermisos = '<h6 class="text-sm mb-0">' + permisos + '</h6>';
              resultadoVacaciones = '<h6 class="text-sm mb-0">' + vacaciones + '</h6>';
              resultadoAsuntosPropios = '<h6 class="text-sm mb-0">' + asuntosPropios + '</h6>';
              resultado = row.observaciones + ' (nº de fichajes:' + row.fichajes + ')' + '\n';
              textHora = '<h6 class="text-sm mb-0"><i class="fa fa-clock text-secondary fa-lg me-2" aria-hidden="true"></i>' + resultado + '</h6>' + resultadoPermisos + resultadoVacaciones + resultadoAsuntosPropios + '' ;
              break;
            case (porcentaje >= 99):
              textHora = '<h6 class="text-sm mb-0 "><i class="fa fa-clock fa-lg me-2 text-success" aria-hidden="true"></i>' + hora + ' horas </h6>';
              break;
            case (porcentaje > 75 && porcentaje < 99):
              textHora = '<h6 class="text-sm mb-0"><i class="fa fa-clock text-warning fa-lg me-2" aria-hidden="true"></i>' + hora + ' horas </h6>';
              break;
            case (porcentaje < 60):
              textHora = '<h6 class="text-sm mb-0"><i class="fa fa-clock text-danger fa-lg me-2" aria-hidden="true"></i>' + hora + ' horas</h6>';
              break;
            default:
              textHora = '<h6 class="text-sm mb-0"><i class="fa fa-clock text-warning fa-lg me-2" aria-hidden="true"></i>' + hora + ' horas</h6>';
          }
        } else {
          textHora = '<h6 class="text-sm mb-0 text-white"><i class="fa-solid fa-clock text-white fa-lg me-2" aria-hidden="true"></i>' + hora + ' horas</h6>';
        }
        var divHora = '<div>' + textHora  +'</div>';
        return divHora;
      }
    },
    {
      title: "% Completado",
      field: "Completo",
      halign: "left",
      sortable: true,
      align: "left",
      width: "20",
      formatter: function (value, row) {
        var hora = row.horas;
        var festivos = row.festivos;
        var horasFestivos = festivos * 7.5;
        var vacaciones = row.vacaciones;
        var asuntosPropios = row.asuntosPropios;
        var permisos = row.diasPorPermisoDescontar;
        if (permisos == null || permisos == undefined || permisos == "null") {
          permisos = 0;
        }
      
        //var permisos = row.diasPermisos;
        var vacaciones = row.diasVacaciones;
        var asuntosPropios = row.diasAsuntosPropios;
        
        hora = hora + horasFestivos + vacaciones * 7.5 + asuntosPropios * 7.5 + permisos * 7.5;
        // redondear a 2 decimales
        hora = Math.round(hora * 100) / 100;
        jornada = row.jornada;
        var porcentaje = (hora / jornada) * 100;
        porcentaje = Math.round(porcentaje * 100) / 100;
        var div = "";
        switch (true) {
          case (porcentaje > 100.2):
            div = '<div class="progress-wrapper w-75 mx-auto"><div class="progress-info"><div class="progress-percentage"><span class="text-xs font-weight-bold">' + porcentaje + '%</span></div></div><div class="progress"><div class="progress-bar bg-gradient-info w-100" role="progressbar" aria-valuenow="' + porcentaje + '" aria-valuemin="0" aria-valuemax="100"></div></div></div>';
            break;
          case (porcentaje > 90 && porcentaje < 100.2):
            div = '<div class="progress-wrapper w-75 mx-auto"><div class="progress-info"><div class="progress-percentage"><span class="text-xs font-weight-bold">' + porcentaje + '%</span></div></div><div class="progress"><div class="progress-bar bg-gradient-success w-100" role="progressbar" aria-valuenow="' + porcentaje + '" aria-valuemin="0" aria-valuemax="100"></div></div></div>';
            break;
          case (porcentaje > 65 && porcentaje < 90):
            div = '<div class="progress-wrapper w-75 mx-auto"><div class="progress-info"><div class="progress-percentage"><span class="text-xs font-weight-bold">' + porcentaje + '%</span></div></div><div class="progress"><div class="progress-bar bg-gradient-warning w-80" role="progressbar" aria-valuenow="' + porcentaje + '" aria-valuemin="0" aria-valuemax="100"></div></div></div>';
            break;
          case (porcentaje < 65 && porcentaje > 30):
            div = '<div class="progress-wrapper w-75 mx-auto"><div class="progress-info"><div class="progress-percentage"><span class="text-xs font-weight-bold">' + porcentaje + '%</span></div></div><div class="progress"><div class="progress-bar bg-gradient-danger w-50" role="progressbar" aria-valuenow="' + porcentaje + '" aria-valuemin="0" aria-valuemax="100"></div></div></div>';
            break;
          case (porcentaje < 30):
          div = '<div class="progress-wrapper w-75 mx-auto"><div class="progress-info"><div class="progress-percentage"><span class="text-xs font-weight-bold">' + porcentaje + '%</span></div></div><div class="progress"><div class="progress-bar bg-gradient-danger w-10" role="progressbar" aria-valuenow="' + porcentaje + '" aria-valuemin="0" aria-valuemax="100"></div></div></div>';
          break;
          default:
            div = '<div class="progress-wrapper w-75 mx-auto"><div class="progress-info"><div class="progress-percentage"><span class="text-xs font-weight-bold">' + porcentaje + '%</span></div></div><div class="progress"><div class="progress-bar bg-gradient-danger w-30" role="progressbar" aria-valuenow="' + porcentaje + '" aria-valuemin="0" aria-valuemax="100"></div></div></div>';
            break;
        }
        var correcto = row.correcto;
        var textCorrecto = "";
        if (correcto == "si") {
          textCorrecto = '<h6 class="text-sm mb-0"><i class="fa fa-user-circle fa-lg me-2" aria-hidden="true"></i>' + correcto + '</h6>';
        } else {
          textCorrecto = '<h6 class="text-sm mb-0 text-white"><i class="fa fa-user-circle fa-lg me-2" aria-hidden="true"></i> '+  correcto + '</h6>';
        }
        var divCorrecto = '<div>' + textCorrecto +' </div>';
        return div;
      }
    },
    {
      title: "Observaciones",
      field: "observaciones",
      halign: "center",
      sortable: true,
      align: "center",
      width: "20",
      formatter: function (value, row) {
        var observaciones = row.observaciones;
        var festivos = row.festivos;
        var permisos = row.diasPermisos;
        var vacaciones = row.diasVacaciones;
        var asuntosPropios = row.diasAsuntosPropios;
        var permisos_retribuidos = row.diasPorPermisoDescontar;
        var textPermisos = "";

        var correcto = row.correcto;
        var textObservaciones = "";
        if (correcto == "si") {
          if (permisos_retribuidos > 0 || permisos > 0 || vacaciones > 0 || asuntosPropios > 0) {
            var permisos_retribuidos_text = "";
            var asuntosPropios_text = "";
            var vacaciones_text = "";
            if (permisos_retribuidos > 0) {
              if (permisos_retribuidos > 1) {
                permisos_retribuidos_text = "<h6 class='text-sm text-secondary mb-0 d-flex justify-content-start'><i class='fa-kit fa-solid-calendar-days-circle-check mt-2 fa-lg me-2' aria-hidden='true'></i>" + permisos_retribuidos + " día de permisos retribuidos</h6>";
              } else {
                permisos_retribuidos_text = "<h6 class='text-sm text-secondary mb-0 d-flex justify-content-start'><i class='fa-kit fa-solid-calendar-days-circle-check mt-2 fa-lg me-2' aria-hidden='true'></i>" + permisos_retribuidos + " días de permisos retribuidos</h6>";
              }
            }
            if (asuntosPropios > 0) {
              if (asuntosPropios > 1) {
                asuntosPropios_text = "<h6 class='text-sm text-secondary mb-0 d-flex justify-content-start mt-0'><i class='fa-kit fa-solid-calendar-days-user fa-lg me-2 mt-2' aria-hidden='true'></i>" + asuntosPropios + " días asuntos propios</h6>";
              } else {
                asuntosPropios_text = "<h6 class='text-sm text-secondary mb-0 d-flex justify-content-start'><i class='fa-kit fa-solid-calendar-days-user fa-lg me-2 mt-2' aria-hidden='true'></i>" + asuntosPropios + "  de asuntos propios</h6>";
              }
            }
            if (vacaciones > 0) {
              vacaciones_text = "<h6 class='text-sm text-secondary mb-0 d-flex justify-content-start'><i class='fa-kit fa-solid-tree-decorated-user mt-2 fa-lg me-2' aria-hidden='true'></i>nº Vacaciones: " + vacaciones + "</h6>";
            }
            textPermisos ="<div>"+ permisos_retribuidos_text + asuntosPropios_text + vacaciones_text +"</div>";
          } else {
            textPermisos = '<h6 class="text-sm mb-0"></h6>';
          }

          if (festivos > 0) {
            textObservaciones = '<h6 class="text-sm text-primary d-flex justify-content-start mb-0"><i class="fa-solid fa-party-horn fa-lg me-2" aria-hidden="true"></i>'+ festivos + ' festivos en ese periodo</h6>';
          }

        } else {
          textObservaciones = '<h6 class="text-sm mb-0 text-white"><i class="fa-solid fa-circle-exclamation fa-lg me-2" aria-hidden="true"></i>' + observaciones + '</h6>';
        }
        var div = '<div>' + textObservaciones + textPermisos+'</div>';
        return div;
      }
    },
    ],
    
    rowStyle: function (row, index) {
      if (row.correcto && row.correcto.toLowerCase() === "no") {
        // Si el valor de 'correcto' es 'no', devuelve un objeto con estilo rojo
        return {
          classes: 'bg-table-danger text-white',
        };
      }
      // De lo contrario, devuelve un objeto vacío (sin cambio de estilo)
      return {};
    },

    search: true,
    sortable: true,
    // ordenar la tabla por la columna semana
    sortOrder: "asc",
    // ordenar por mes y año
    sortName: "semana",


  });


    // Funciones para el modal de empleados
    function mostrarEmpleadosOcultos(opcion){
      var empleados = document.getElementById("empleadosDiv");
      var exEmpleados = document.getElementById("exEmpleadosDiv");
      var seleccionarEmpleado = document.getElementById("seleccionarEmpleadoDiv");
      var checkTodosEmpleados = document.getElementById("checkTodosEmpleados");
      var botonesSeleccion = document.getElementById("botonesSeleccion");

      switch (opcion) {
        case 1:
          botonesSeleccion.setAttribute("hidden", "true");  
          empleados.hidden = false;
          exEmpleados.hidden = true;
          seleccionarEmpleado.hidden = false;
          checkTodosEmpleados.hidden = false;
          break;
        case 2:
          botonesSeleccion.setAttribute("hidden", "true");  
          empleados.hidden = true;
          exEmpleados.hidden = false;
          seleccionarEmpleado.hidden = false;
          checkTodosEmpleados.hidden = false;
          break;
        case 3:
          botonesSeleccion.setAttribute("hidden", "true");  
          empleados.hidden = false;
          exEmpleados.hidden = false;
          seleccionarEmpleado.hidden = false;
          checkTodosEmpleados.hidden = false;
          break;
        default:
          botonesSeleccion.setAttribute("hidden", "true");  
          empleados.hidden = true;
          exEmpleados.hidden = true;
          seleccionarEmpleado.hidden = true;
          checkTodosEmpleados.hidden = true;
      }
      
 
    }



    function marcarTodos(){
      console.log("marcarTodos");
      // recorro la lista de los empleados 
      var empleados = document.getElementsByName("empleadosModalExtra");

      var exEmpleados = document.getElementsByName("exEmpleadosModalExtra");
      
      const divEmpleados = document.getElementById("empleadosDiv");
      const divExEmpleados = document.getElementById("exEmpleadosDiv");
      const checkTodosEmpleados = document.getElementById("checkTodosEmpleados");
      if (checkTodosEmpleados.checked) {
        console.log(divEmpleados.hidden, typeof(divEmpleados.hidden));
        // compruebo si el div de empleados esta oculto
        if (divEmpleados.hidden == false){
          console.log(empleados.length)
          
          // recorro la lista de empleados y los marco todos
          for (var i = 0; i < empleados.length; i++) {
            empleados[i].checked = true;
            console.log(empleados[i].value);
          }
        }
        // compruebo si el div de exEmpleados esta oculto
        if (divExEmpleados.hidden == false){
          // recorro la lista de empleados y los marco todos
          for (var i = 0; i < exEmpleados.length; i++) {
            exEmpleados[i].checked = true;
            console.log(exEmpleados[i].value);
          }
        }
      } else {
        // recorro la lista de empleados y los desmarco todos
        for (var i = 0; i < empleados.length; i++) {
          empleados[i].checked = false;
        }
        // recorro la lista de empleados y los desmarco todos
        for (var i = 0; i < exEmpleados.length; i++) {
          exEmpleados[i].checked = false;
        }
      } 
    }


    function obtenerSeleccionados(){
      // recorro la lista empleadosModalExtra
      var empleados = document.getElementsByName("empleadosModalExtra");
      var exEmpleados = document.getElementsByName("exEmpleadosModalExtra");
      var divEmpleados = document.getElementById("empleadosDiv");
      var divExEmpleados = document.getElementById("exEmpleadosDiv");
      var empleadosSeleccionados = "";

      if (divEmpleados.hidden == false){
        // recorro la lista de empleados y los guardo separados por #
        for (var i = 0; i < empleados.length; i++) {
          if (empleados[i].checked){
            empleadosSeleccionados += empleados[i].value + "_";
          }
        }
      }
      if (divExEmpleados.hidden == false){
        // recorro la lista de empleados y los guardo separados por #
        for (var i = 0; i < exEmpleados.length; i++) {
          if (exEmpleados[i].checked){
            empleadosSeleccionados += exEmpleados[i].value + "_";
          }
        }
      }
      // elimino el ultimo #
      empleadosSeleccionados = empleadosSeleccionados.slice(0, -1);
      // guardo los empleados seleccionados en el input
      document.getElementById("inputEmpleados").value = empleadosSeleccionados;
      console.log(document.getElementById("inputEmpleados").value);
      // cierro el modal
      $('#modalEmpleados').trigger('click');
    }
 
  function filtrarTabla() {
    if (document.getElementById("fechaInicio").value == "") {
      // mostrar un dialogo de error
      alert("Debe ingresar una fecha de inicio");
      alert.title = "Error";

      return false;
    }
    if (document.getElementById("fechaFin").value == "") {
      alert("Debe ingresar una fecha de fin");
      return false;
    }

    var tituloPagina = document.getElementById("tituloPagina");
    fechaInicio = document.getElementById("fechaInicio").value;
    fechaFin = document.getElementById("fechaFin").value;
    if (fechaInicio > fechaFin) {
      alert("La fecha de inicio debe ser menor a la fecha de fin");
      return false;
    }

    var empleados = $('#inputEmpleados').val();
    var fechaInicio = document.getElementById("fechaInicio").value;
    // mostra la fecha con formato DD/MM/YYYY
    fechaInicio = fechaInicio.split("-")[2] + "/" + fechaInicio.split("-")[1] + "/" + fechaInicio.split("-")[0];
    var fechaFin = document.getElementById("fechaFin").value;
    fechaFin = fechaFin.split("-")[2] + "/" + fechaFin.split("-")[1] + "/" + fechaFin.split("-")[0];

    // cerrar el modal
    $('#modalEmpleados').trigger('click');
    // nueva url
    var nuevaUrl = "{% url 'timetrackpro:datos-registro-semanal-empleados' %}?listEmpleados=" + empleados + "&fechaInicio=" + fechaInicio + "&fechaFin=" + fechaFin;
    // cambiar la url de la tabla
    $("#informe_empleados").bootstrapTable('refreshOptions', { url: nuevaUrl });
    // cambiar el titulo de la pagina

    tituloPagina.innerHTML = "Informe por semanas desde " + fechaInicio + " hasta " + fechaFin;


  }



</script>
{% endblock %}