{% extends "base/base_timetrackpro.html" %}
{% load static %}
{% block content %}
<div class="row">
  <div class="col-12">
    <div class="card mb-4">
      <div class="card-header pb-0 d-flex align-items-center">
            <h5>Listado de incidencias notificadas</h5>
            <a class="ps-2" title="registrar una incidencia" href="{% url 'timetrackpro:notificar-problemas' %}"><i class="fa-solid fa-plus fa-xs botonAgregar"></i></a>
      </div>
      <div class="card-body px-0 pt-0 pb-2">
        <div class="table-responsive p-0">
          <div class="mx-4">
            <div id="toolbar">
              <div class="row">
                <div class="col">
                  <label class="text-sm" >Estado</label>

                  <select class="form-control" aria-label="Estado" id="estado"
                  name="estado" aria-describedby="text-addon" >
                    <option value="0" selected>Todos los estados</option>
                    <option value="1">Pendiente</option>
                    <option value="2">Rechazada</option>
                    <option value="3">Resuelta</option>
                  </select>
                </div>
                <div class="col">
                  <label class="text-sm" >Tipo</label>

                  <select class="form-control" aria-label="Tipo" id="tipo"
                  name="tipo" aria-describedby="text-addon">
                    <option value="Todos" selected>Todos</option>
                    <option value="1">Fallos en la aplicación</option>
                    <option value="2">Corrección de datos</option>
                  </select>

                </div>
                <div class="col my-auto">
                  <button type="submit" value="submit" class="btn bg-gradient-primary w-100 mt-4 mb-0" onclick="filtarTabla()">Filtrar</button>


                </div>
              </div>

            </div>
          

            <table  id="tabla_incidencias_notificadas" data-locale="es-ES" data-toggle="table" data-search="true" data-show-columns="true" data-show-columns-toggle-all="true" data-show-fullscreen="true" data-buttons="buttons" data-show-toggle="true" data-buttons-class="" data-show-export="true" data-export-types="['excel', 'pdf']" data-show-refresh="true" data-pagination="true" data-id-field="id" data-page-list="[10, 25, 50, 100, All]" data-toolbar="#toolbar"></table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<script>



$("#tabla_incidencias_notificadas").bootstrapTable({
    method: "get",
    locale: navigator.language,
    url: "{% url 'timetrackpro:datos-listado-incidencias' %}",
    cache: false, 
    columns: [
      {

        title: "Incidencia",
        halign:"left",
        sortable: true,
        align: "left",
        wrapped: true,
        formatter: function(value, row) {
          var div = '<span class="text-sm font-weight-bold mb-0 text-wrap">'+ row.problema_detectado +'</span>';
          return div;
        }
      },
      {
        title: "Tipo",
        sortable: true,
        align: "center",
        width:"20",
        formatter: function(value, row) {
          var tipo = row.tipo; 
          tipo = tipo == 1 ? "Fallos en la aplicación" : "Corrección de datos";     
          var div = '<span class="text-sm font-weight-bold mb-0">'+ tipo +'</span>';
          return div;
        }
      },
      {
        title: "FECHA",
        field: "fecha_registro",
        align: "center",
        formatter: function(value, row) {
          const mes = {
            "01": "Ene",
            "02": "Feb",
            "03": "Mar",
            "04": "Abr",
            "05": "May",
            "06": "Jun",
            "07": "Jul",
            "08": "Ago",
            "09": "Sep",
            "10": "Oct",
            "11": "Nov",
            "12": "Dic",
          };
          // obtengo la fecha de lectura
          var fechaLectura = row.fecha_registro;

          // obtengo la fecha
          var fecha = fechaLectura.split("T")[0];
          mesFecha = fecha.split("-")[1];
          fecha = fecha.split("-")[2] + " " + mes[mesFecha] + " " + fecha.split("-")[0];

          // obtengo la hora
          var hora = fechaLectura.split("T")[1].split("Z")[0];
          hora = hora.split(":")[0] + ":" + hora.split(":")[1];

          var div = '<span class="text-xs font-weight-bold">'+fecha + ' '+ hora+'</span>';
          return div;
        }
      },
      {
        title: "Abierta por",
        align: "center",
        formatter: function(value, row) {
          var insertador = row.usuario__first_name + " " + row.usuario__last_name;      
          var div = '<span class="text-sm font-weight-bold mb-0">'+ insertador +'</span>';
          return div;
        }

      },
      {
        title: "Estado",
        align: "center",
        formatter: function(value, row) {
          var estado = row.estado;
          var div= '<span class="badge badge-sm bg-gradient-secondary" text-wrap">Pendiente</span>';
          if (estado == 2)
            var div = '<span class="badge badge-sm bg-gradient-danger">Rechazada</span>';
          if (estado == 3)
            var div = '<span class="badge badge-sm bg-gradient-success">Resuelta</span>';
          return div;
        }
      },{
        title: "",
        field: "",
        align: "center",
        formatter: function (value, row) {
          var botonVer = '<a href="/private/timetrackpro/ver-incidencia/' + row.id + '/" class="mx-1 text-sm" title="ver registro"><i class="fa-solid fa-arrow-right-to-bracket fa-lg entrar" ></i></a>';
          return botonVer;
                  

        },
      },
    ],
    search: true,

    
  });

  function filtarTabla(){
    var estado = $("#estado").val();
    var tipo = $("#tipo").val();
    var urlEditar = "{% url 'timetrackpro:datos-listado-incidencias' estado='0' tipo='Todos'  %}".replace('0', estado).replace('Todos', tipo);
    console.log(urlEditar);
    $("#tabla_incidencias_notificadas").bootstrapTable('refresh', {url: urlEditar});
  }



</script>

{% endblock %}