
{% extends "base/base_timetrackpro.html" %}

{% load static %}
{% block imports %}
<!-- <link rel="stylesheet" href="{% static 'css/timetrackpro/timetrackpro-boostrap-table.css' %}" /> -->

{% endblock %}
{% block content %}

{% if alerta.activa == True %}
<div class="alert alert-{{alerta.tipo}} alert-dismissible fade show" role="alert">
  <div>

    {% if alerta.icono != ""%}
    <i class="{{alerta.icono}} me-2"></i>
    {% endif %}
    {{alerta.mensaje}}
  </div>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
    <strong >&times;</strong>
  </button>

</div> 
{% endif %}

  <div class="row">
    <div class="col-12">
      <div class="card mb-4">
        <div class="card-header pb-0">
          <h5>Permisos</h5>
          
            
        </div>
        <div class="card-body px-0 pt-0 pb-2">
          <div class="table-responsive p-0 mx-4">
            
       <div id="toolbar">

        <button class="botonLink" data-toggle="modal" data-target="#modalAgregarPermiso">
          <div class="sign-Btn-link"><i class="fa-solid fa-plus fa-lg" style="color: #ffffff;"></i></div>
          <div class="text text-sm">Agregar permiso</div>
        </button>
      </div>
            <table id="tabla_permisos" data-locale="es-ES" data-toggle="table" data-search="true" data-show-columns="true"
    data-show-columns-toggle-all="true" data-show-fullscreen="true" data-buttons="buttons" data-show-toggle="true"
    data-buttons-class="" data-show-export="true" data-export-types="['excel', 'pdf']" data-show-refresh="true"
    data-pagination="true" data-id-field="id" data-page-list="[10, 25, 50, 100, All]" data-toolbar="#toolbar" data-row-style="rowStyle"></table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="modalAgregarPermiso" tabindex="-1" role="dialog" class="modal fade modal-lg" aria-labelledby="modalAgregarPermiso"
  aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Agregar usuario a la máquina</h5>
          <button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
        <form id="formularioAgregarUsuarioMaquina" action="{% url 'timetrackpro:agregar-usuario-maquina' %}" method="POST"
          enctype="multipart/form-data">
          {% csrf_token %}         
            <div class="row">
              <div class="col-xl-2">
                <label>ID</label>
                <input type="text" class="form-control" placeholder="ID en el dispositivo"
                  aria-label="Nombre en el dispositivo" id="id_empleado_maquina" name="id_empleado_maquina"
                  aria-describedby="text-addon" id="id_empleado_maquina" name="id_empleado_maquina" >
              </div>
              <div class="col-xl-4">
                <label>Nombre</label>
                <input type="text" class="form-control" placeholder="Nombre en el dispositivo"
                  aria-label="Nombre en el dispositivo" id="nombre_empleado_maquina" name="nombre_empleado_maquina"
                  aria-describedby="text-addon">
              </div>
              <div class="col-xl-4">
                <label>¿Empleado en prácticas?</label>
                <div class="form-switch ps-1 my-2">
                  <input class="form-check-input ms-auto" type="checkbox" id="en_practicas" name="en_practicas">
                </div>
              </div>
            </div>
            <div class="row mt-4">
              <div class="col-xl-3">
                <label>Turno</label>
                <select class="form-control" aria-label="Nombre en el dispositivo" id="turno_empleado"
                  name="turno_empleado" aria-describedby="text-addon">
                  <option value="Sin asignar" selected hidden>Sin asignar</option>
                  <option value="Mañana">Mañana</option>
                  <option value="Tarde">Tarde</option>
                  <option value="Turno Partido">Turno Partido</option>
                </select>
              </div>
              <div class="col-xl-3">
                <label>Jornada Máxima</label>
                <input class="form-control" type="number" step="0.5" min="0" max="37.5" id="jornada_maxima_empleado"
                  name="jornada_maxima_empleado" placeholder="máximo 37,5 Horas">
              </div>
              <div class="col-xl-3">
                <label>Número de huellas</label>
                <input class="form-control" type="number" step="1" min="1" max="3" id="huellas_registradas"
                  name="huellas_registradas" placeholder="máximo 3" >
              </div>
            </div>
            <div class="row mt-4">
              <div class="col-xl-12">
                <label class="d-inline">Dispositivos donde puede fichar</label>
                <div class="d-inline form-switch ps-0">
                  <label class="form-check-label text-body ms-3 text-truncate w-80 mb-0 d-inline">Alerta2</label>
                  <input class="form-check-input ms-auto" type="checkbox" id="maquina_alerta2" name="maquina_alerta2"> 
                </div>
                <div class="d-inline form-switch ps-0">
                  <label class="form-check-label text-body ms-3 text-truncate w-80 mb-0 d-inline">Laboratorio</label>
                  <input class="form-check-input ms-auto" type="checkbox" id="maquina_laboratorio" name="maquina_laboratorio">
                </div>
                <div class="d-inline form-switch ps-0">
                  <label class="form-check-label text-body ms-3 text-truncate w-80 mb-0 d-inline">Departamento</label>

                  <input class="form-check-input ms-auto" type="checkbox" id="maquina_departamento" name="maquina_departamento">
                </div>
              </div>
            </div>
            <div class="row mt-4">
              <div class="col-xl-6">
                
                <label class="d-inline">Se le permite fichar con PIN</label>
                <div class="d-inline form-switch ps-0">

                  <input class="form-check-input ms-3" type="checkbox" id="permite_pin" name="permite_pin"> 
                </div>
              </div>
            </div>
            <div class="row mt-4">
              <div class="col-xl-6">
                
                <label class="d-inline">Es administrador del dispositivo</label>
                <div class="d-inline form-switch ps-0">

                  <input class="form-check-input ms-3" type="checkbox" id="es_administrador" name="es_administrador"> 
                </div>
              </div>
            </div>
        </div>
        <div class="modal-footer">
          {% if user.is_authenticated  %}
          <button type="submit" value="submit"  class="btn btn-primary">Guardar</button>
          {% endif %}
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </form>
      </div>
    </div>
  </div>


  <script>
    $("#tabla_permisos").bootstrapTable({
    method: "get",
    locale: navigator.language,
    url: "{% url 'timetrackpro:datos-permisos' %}",
    cache: false, 
    columns: [
      {
        title: "Permiso",
        field: "id",
        halign:"left",
        sortable: true,
        align: "left",
        formatter: function(value, row) {
          var nombre = row.nombre;
          var id_usuario = row.id;
          var fechaLimite = row.fecha_maxima_solicitud;
          var fecha = "Sin fecha límite"
          const meses = {
            "01": "Enero",
            "02": "Febrero",
            "03": "Marzo",
            "04": "Abril",
            "05": "Mayo",
            "06": "Junio",
            "07": "Julio",
            "08": "Agosto",
            "09": "Septiembre",
            "10": "Octubre",
            "11": "Noviembre",
            "12": "Diciembre",
          };

          if(fechaLimite != null){
            // formatear la fecha para que tenga el formarto dd/mm/yyyy
            var fecha = fechaLimite.split("-");

            var fecha = fecha[2]+" de "+meses[fecha[1]]+" de "+fecha[0];
          }          
          // dias de duracion
          var bonificacion15 = '<p class="text-xs text-secondary mb-0"> 15 años: +'+ row.bonificacion_por_15_years +" dias"+'</p>';
          var bonificacion20 = '<p class="text-xs text-secondary mb-0"> 20 años: +'+ row.bonificacion_por_20_years +" dias"+'</p>';
          var bonificacion25 = '<p class="text-xs text-secondary mb-0"> 25 años: +'+ row.bonificacion_por_25_years +" dias"+'</p>';
          var bonificacion30 = '<p class="text-xs text-secondary mb-0"> 20 años: +'+ row.bonificacion_por_30_years +" dias"+'</p>';
          
          var divDias = '<div class="col-10"><p class="text-xs text-secondary mb-0"> Bonificación por antigüedad</p>'+bonificacion15+bonificacion20+bonificacion25+bonificacion30+'</div>'
          var bonificaciones = "";

          if(row.bonificable_por_antiguedad == 1){
           bonificaciones = '<div class="col-10"><p class="text-xs text-secondary mb-0"> Bonificación por antigüedad:</p>'+bonificacion15+bonificacion20+bonificacion25+bonificacion30+'</div>';
          }else{
            bonificaciones ="";
          }
          var divDatos = '<div class="col-10"><h6 class="mb-0 text-sm">'+ nombre +'</h6><p class="text-xs text-secondary mb-0"> Fecha límite: '+ fecha +'</p></div>';
          
          var div = '<div class="row d-flex align-items-center">'+ divDatos+ bonificaciones+'</div>';
          return div;
        }
      },
      {
        
        title: "Dias",
        field: "duracion",
        align: "left",
        halign: "left",
        formatter: function(value, row) {
          var duracion = row.duracion;
          var tipo = row.naturales_o_habiles;
          var dias = '<div class="col-10"><h6 class="mb-0 text-sm">'+ duracion +" " + tipo +'</h6></div>';
          return dias;
        }
      },
      {
        title: "¿Quién se beneficia?",
        field: "",
        align: "center",
        halign:"center",
        formatter: function(value, row) {
          var pas = row.pas;
          var pdi = row.pdi;

          var divPAS = ""
          var divPDI = ""

          if (pas == 1){
            divPAS = '<div><i class="fa fa-check text-success" aria-hidden="true"></i><span class="text-secondary text-sm font-weight-bold"> PAS</span></div>';
          }else{
            divPAS = '<div><i class="fa fa-x text-danger" aria-hidden="true"></i><span class="text-secondary text-sm font-weight-bold"> PAS</span></div>';
          }
          if (pdi == 1){
            divPDI = '<div><i class="fa fa-check text-success" aria-hidden="true"></i><span class="text-secondary text-sm font-weight-bold"> PDI</span></div>';
          }else{
            divPDI = '<div><i class="fa fa-x text-danger" aria-hidden="true"></i><span class="text-secondary text-sm font-weight-bold"> PDI</span></div>';
          }
          var div = '<div class="ms-4">'+divPAS+divPDI+'</div>';
          // var div = divA2+divDep+divLab;

          return div;
        }
      },
      {
        title: "¿Requiere justificante?",
        field: "acreditar",
        align: "center",
        formatter: function(value, row) {
          var acreditable = row.acreditar;
          var documentacion = row.doc_necesaria;
          var div = "";
          var divDocumentacion = "";
         
          if (acreditable == 1){
            div = '<div><span class="badge badge-xs bg-gradient-warning">Si</span></div>';
            divDocumentacion = '<div class="mt-2"><h6 class="text-secondary text-sm font-weight-bold text-wrap ">'+documentacion +'</h6></div>';
          }else{
            div = '<div><span class="badge badge-xs bg-gradient-dark">No</span></div>';
          }
          return div + divDocumentacion;
        }
      },
      {        
        title: "Legislación aplicable",
        field: "legislacion_aplicable",
        align: "center",
        formatter: function(value, row) {
          var legislacion = row.legislacion_aplicable;
          var div = '<div  style="white-space: pre-line; overflow-wrap: break-word;" ><h6 class="text-secondary text-sm font-weight-bold ">'+ legislacion +'</h6></div>'
          return div;
        }
      },{
        title: "",
        field: "",
        align: "center",
        formatter: function (value, row) {
          // convertir a string el id para poder pasarlo como parametro en la url
          var idPermiso = row.id.toString();
          // construir la url 
          var urlEditar = "{% url 'timetrackpro:ver-permiso' id='id' %}".replace('id', idPermiso);

          var icono = '<a class="cursor-pointer" id="opcionesPermisos" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v text-secondary"></i></a>';
          var verPermiso = '<li><a class="dropdown-item border-radius-md" href='+urlEditar+'>Editar Festivo</a></li>'; 
          var eliminarPermiso = '<li><a class="dropdown-item border-radius-md" href="'+"{% url 'timetrackpro:solicitudes' %}"+'">Eliminar Permiso</a></li>'; 
          var listaOpciones = '<ul class="dropdown-menu px-2 py-3 ms-sm-n4 ms-n5" aria-labelledby="opcionesPermisos">'+verPermiso+eliminarPermiso+'</ul>';
          var div = '<div class="dropdown">'+icono+listaOpciones+'</div>';
          return div;
        },
      },
    ],
    search: true,
    sortName: "id",
    sortOrder: "asc",
  });



</script>


{% endblock %}