{% extends "base/base_timetrackpro.html" %}
{% load static %}
{% block content %}

<div class="row">
  <div class="col-12">
    <div class="card mb-4">
      <div class="card-header pb-0">
        <h3 class="text-info text-gradient" id="Titulo">Registros desde la aplicacion</h3>
        <h6 class="text-secondary">Aquí se muestran registros que no se han obtenido de ficheros extraidos de las máquinas </h6>
      </div>
      <div class="card-body pt-0 pb-2 mx-1">
        
        <div id="toolbar">
          <div class="row">
            <div class="col">
              <label class="text-sm">Remoto</label>

              <select class="form-control" aria-label="Remoto" id="remoto"
              name="remoto" aria-describedby="text-addon" >
                <option selected hidden>Todos</option>
                <option value="0">  No  </option>
                <option value="1">Si</option>
              </select>
            </div>
            <div class="col">
              <label class="text-sm" >Mes</label>

              <select class="form-control" aria-label="Mes" id="mes"
              name="mes" aria-describedby="text-addon">
                <option selected hidden>Mes actual</option>
                <option value="1">Enero</option>
                <option value="2">Febrero</option>
                <option value="3">Marzo</option>
                <option value="4">Abril</option>
                <option value="5">Mayo</option>
                <option value="6">Junio</option>
                <option value="7">Julio</option>
                <option value="8">Agosto</option>
                <option value="9">Septiembre</option>
                <option value="10">Octubre</option>
                <option value="11">Noviembre</option>
                <option value="12">Diciembre</option>
              </select>
            </div>
            <div class="col">
              <label class="text-sm" >Año</label>

              <input type="text" class="form-control" value="{{yearActual}}" id="year" name="year">
            </div>
            <div class="col my-auto">
              <button type="submit" value="submit" class="btn bg-gradient-info w-100 mt-4 mb-0" onclick="filtarTabla()">Filtrar</button>


            </div>
          </div>

        </div>
        <div class="table-responsive p-0">
          <table id="tabla_registros" data-locale="es-ES" data-toggle="table" data-search="true" data-show-columns="true"
  data-show-columns-toggle-all="true" data-show-fullscreen="true" data-buttons="buttons" data-show-toggle="true"
  data-buttons-class="" data-show-export="true" data-export-types="['excel', 'pdf']" data-show-refresh="true"
  data-pagination="true" data-id-field="id" data-page-list="[10, 25, 50, 100, All]" data-toolbar="#toolbar" data-row-style="rowStyle"></table>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
    $("#tabla_registros").bootstrapTable({
    method: "get",
    locale: navigator.language,
    url: "/private/timetrackpro/datos-registros-remotos-insertados",
    cache: false, 
    columns: [
      {
        title: "Usuario",
        field: "id_empleado__nombre",
        halign:"left",
        sortable: true,
        align: "left",
        formatter: function(value, row) {
          var nombreArchivo = row.id_empleado__nombre;
          var maquina = row.maquina__nombre;
          var div = '<div><h6 class="mb-0 text-sm">'+nombreArchivo+'</h6><p class="text-xs text-secondary mb-0">Máquina: '+ maquina +'</p></div>';
          return div;
        }
      },
      {
        title: "Hora",
        field: "hora",
        halign:"center",
        sortable: true,
        align: "center",
        formatter: function(value, row) {
          var dateTime = row.hora;
          var hora = dateTime.split("T");
          hora = hora[1].split("Z")[0];
          // obtener la hora con formato HH:mm:ss

          var div = '<span class="text-secondary text-sm font-weight-bold">'+hora+'</span>';

          return div;
        }
      },
      {
        title: "Fecha",
        field: "hora",
        halign:"center",
        sortable: true,
        align: "center",
        formatter: function(value, row) {
          const meses = {
            "01": "Enero",
            "02": "Febrero",
            "03": "Marzo",
            "04": "Abril",
            "05": "Mayo",
            "06": "Junio",
            "07": "Julio",
            "08": "Agosto",
            "09": "Septiembre",
            "10": "Octubre",
            "11": "Noviembre",
            "12": "Diciembre",
          };
          var dateTime = row.hora;
          var fecha = dateTime.split("T")[0];
          var anio = fecha.split("-")[0];
          var mes = fecha.split("-")[1];
          var dia = fecha.split("-")[2];
          if (dia[0] == "0"){
            dia = dia[1];
          }
          fechaFormateada = dia + " de " + meses[mes] + " de " + anio;

          var div = '<span class="text-secondary text-sm font-weight-bold">'+fechaFormateada+'</span>';

          return div;
        }
      },
      {
        title: "Remoto",
        field: "remoto",
        halign:"center",
        sortable: true,
        align: "center",
        formatter: function(value, row) {
          var remoto = row.remoto;
          var div= '<span class="badge badge-sm bg-gradient-secondary">No</span>';
          
          if (remoto == 1)
            var div = '<span class="badge badge-sm bg-gradient-warning">Sí</span>';

          return div;
        }
        },{
          title: "Acciones",
          field: "action",
          align: "center",
          formatter: function (value, row) {

                    
          var verLineaRegistro = '<a href="/private/timetrackpro/ver-linea-registro/' + row.id + '/" class="mx-1" title="Abrir"><i class="fa-solid fa-arrow-right-to-bracket fa-lg entrar" ></i></a>';
          return verLineaRegistro;
          },
        },
    ],
    search: true,
    sortName: "id",
    sortOrder: "asc",
  });


  function filtarTabla(){
    var remoto = $("#remoto").val();
    var mes = $("#mes").val();
    var year = $("#year").val();
    if (remoto == "Todos"){
      remoto = 2;
    }
    if (mes == "Mes actual"){
      mes = new Date().getMonth() + 1;
    }
    var text = "";
    meses = {
      "1": "Enero",
      "2": "Febrero",
      "3": "Marzo",
      "4": "Abril",
      "5": "Mayo",
      "6": "Junio",
      "7": "Julio",
      "8": "Agosto",
      "9": "Septiembre",
      "10": "Octubre",
      "11": "Noviembre",
      "12": "Diciembre",
    };
    var urlEditar = "{% url 'timetrackpro:datos-registros-remotos-insertados' remoto='2' year='1' mes='0'  %}".replace('0', mes).replace('1', year).replace('2', remoto);
    console.log(urlEditar);
    $("#tabla_registros").bootstrapTable('refresh', {url: urlEditar});
    var titulo = $("#Titulo");
    if (remoto == 1){
      text = "Registro remotos"
    }else{
      text = "Registros desde la aplicación"
    }
    text = text + " de " + meses[mes] + " de " + year;
    titulo.text(text);
  }


</script>


{% endblock %}