

{% extends "base/base_timetrackpro.html" %}
{% load static %}

{% block content %}
<div class="row mt-4">
  <div class="col-lg-3 col-md-6 mb-lg-0 mb-4">
    <div class="card h-100 ">
      <div class="overflow-hidden position-relative border-radius-lg bg-cover  background-timetrackpro-viajes h-100">
        <span class="mask bg-gradient-dark"></span>
        <div class="card-body position-relative z-index-1 d-flex flex-column h-100 p-3">
          <h5 class="text-white font-weight-bolder mb-4 pt-2">Viajes</h5>
          <p class="text-white">Solicitud de viajes</p>
          <a class="text-white text-sm font-weight-bold mb-0 icon-move-right mt-auto" href="{% url 'timetrackpro:viajes' %}">
            Solicitar
            <i class="fas fa-arrow-right text-sm ms-1" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 mb-lg-0 mb-4">
    <div class="card h-100 ">
      <div class="overflow-hidden position-relative border-radius-lg bg-cover  background-timetrackpro-ivancik h-100">
        <span class="mask bg-gradient-dark"></span>
        <div class="card-body position-relative z-index-1 d-flex flex-column h-100 p-3">
          <h5 class="text-white font-weight-bolder mb-4 pt-2">Asuntos propios</h5>
          <p class="text-white">Solicitud de días de asuntos propios</p>
          <a class="text-white text-sm font-weight-bold mb-0 icon-move-right mt-auto" href="{% url 'timetrackpro:solicitar-asuntos-propios' %}">
            Solicitar
            <i class="fas fa-arrow-right text-sm ms-1" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 mb-lg-0 mb-4" >
    <div class="card h-100 ">
      <div class="overflow-hidden position-relative border-radius-lg bg-cover  background-timetrackpro-vacaciones h-100">
        <span class="mask bg-gradient-dark"></span>
        <div class="card-body position-relative z-index-1 d-flex flex-column h-100 p-3" >
          <h5 class="text-white font-weight-bolder mb-4 pt-2">Vacaciones</h5>
          <p class="text-white">Solicitud de Vacaciones</p>
          <a class="text-white text-sm font-weight-bold mb-0 icon-move-right mt-auto" href="{% url 'timetrackpro:solicitar-vacaciones' %}">
            Solicitar
            <i class="fas fa-arrow-right text-sm ms-1" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  
  <div class="col-lg-3 col-md-6 mb-lg-0 mb-4">
    <div class="card h-100 ">
      <div class="overflow-hidden position-relative border-radius-lg bg-cover  background-timetrackpro-permisos h-100">
        <span class="mask bg-gradient-dark"></span>
        <div class="card-body position-relative z-index-1 d-flex flex-column h-100 p-3">
          <h5 class="text-white font-weight-bolder mb-4 pt-2">Permisos, salidas y bajas</h5>
          <p class="text-white">Solicitud de Permisos retribuidos, solicitudes de baja y salidas justificadas</p>
          <a class="text-white text-sm font-weight-bold mb-0 icon-move-right mt-auto" href="{% url 'timetrackpro:solicitar-permisos-retribuidos' %}">
            Solicitar
            <i class="fas fa-arrow-right text-sm ms-1" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
