
{% extends "base/base_timetrackpro.html" %}
{% load static %}
{% block content %}
  <div class="row d-flex justify-content-center">
    
    <h3 class="text-info text-gradient">Días de asuntos propios solicitado</h3>
    <h4 class="text-secondary">{{solicitud.year}}</h4>
    <div class="col-12 col-xl-8">
      {% if administrador %}
        <div class="pb-0 p-3 d-flex justify-content-end mb-4" style="background-color: transparent;">
          <div class="row">
            <div class="col">
             <button class="botonLink" data-toggle="modal" data-target="#modalEditar">             
              <div class="sign-Btn-link"><i class="fa-solid fa-pen fa-lg" style="color: #ffffff;"></i></div>
              <div class="text text-sm">Editar</div>
            </button>
            </div>
            <div class="col">
             <button class="botonLink" data-toggle="modal" data-target="#modalCambiarEstado">             
              <div class="sign-Btn-link"><i class="fa-solid fa-sign-hanging fa-lg" style="color: #ffffff;"></i></div>
              <div class="text text-sm">Cambiar estado</div>
            </button>
            </div>
            
            <div class="col">
              <button class="botonDelete" data-toggle="modal" data-target="#modalEliminarRegistro">             
               <div class="sign-btn-delete"><i class="fa-solid fa-trash fa-lg" style="color: #ffffff;"></i></div>
               <div class="text text-sm">Eliminar</div>
             </button>
             </div>
          </div>
        </div>
        
      {% endif %}
        

      <div class="row">
        <div class="col">

          <div class="card ">
            <div class="card-header pb-0 p-3">
            </div>
            <div class="card-body pt-0 p-3">
              <ul class="list-group font-weight-bold">
                <!-- 1- Pendiente, 2 Rechazado, 3 - Aceptado -->
                {% if solicitud.estado.id == 9 %}
                <li class="list-group-item border-0 ps-0 text-lg text-info d-flex justify-content-end"><i class="fa-duotone fa-sign-hanging me-2"></i> Pendiente</li>
                {% elif solicitud.estado.id == 10 %}
                <li class="list-group-item border-0 ps-0 text-lg text-danger d-flex justify-content-end"><i class="fa-duotone fa-sign-hanging me-2"></i> Rechazado</li>
                {% elif solicitud.estado.id == 11 %}
                <li class="list-group-item border-0 ps-0 text-lg text-success d-flex justify-content-end"><i class="fa-duotone fa-sign-hanging me-2"></i> Aceptada</li>
                {% else %}
                <li class="list-group-item border-0 ps-0 text-lg text-warning d-flex justify-content-end"><i class="fa-duotone fa-sign-hanging me-2"></i> Cambio solicitado</li>
                {% endif %}
                <li class="list-group-item border-0 ps-0 pt-0 text-lg"><i class="fa-solid fa-user text-dark me-2"></i> {{solicitud.empleado.nombre}} {{solicitud.empleado.apellidos}}</li>
                
                <li class="list-group-item border-0 ps-0 pt-0 text-lg"><i class="fa-solid fa-calendar text-dark me-2"></i> {{solicitud.fecha_inicio|date:"d M Y"}} - {{solicitud.fecha_fin|date:"d M Y"}}</li>    
              </ul>
            </div>
          </div>
        </div>
        {% if solicitud.recuperable == 1 %}
        <div class="col">

          <div class="card ">
            <div class="card-header pb-0 p-3">
            </div>
            <div class="card-body pt-0 p-3">
              <ul class="list-group font-weight-bold">
                
                <li class="list-group-item border-0 ps-0 pt-0 text-lg d-flex justify-content-end"><span class="badge badge-sm bg-gradient-success">Recuperable</span></li>
                <li class="list-group-item border-0 ps-0 pt-0 text-lg"><strong>Descripción de recuparación</strong><p>{{solicitud.descripcion}}</p></li>
   
              </ul>
            </div>
          </div>
        </div>
        {% endif %}
        <div class="col">
          <div class="card ">
            <div class="card-header pb-0 p-3">
            </div>
            <div class="card-body pt-0 p-3">
              <ul class="list-group font-weight-bold">
                
                <li class="list-group-item border-0 ps-0 pt-0 text-lg"><strong>Tareas a sustituir</strong><p>{% if solicitud.tareas_a_sustituir %}{{solicitud.tareas_a_sustituir}}{% else %} -- {% endif %}</p></li>

                <li class="list-group-item border-0 ps-0 pt-0 text-lg"><strong>Sustituto</strong><p>{% if solicitud.sustituto %}{{solicitud.sustituto.nombre}} {{solicitud.sustituto.apellidos}}{% else %} -- {% endif %}</p></li>
                
    
              </ul>
            </div>
          </div>
  
        </div>
      </div>
    </div>
  </div>


  <div id="modalEditar" tabindex="-1" role="dialog" class="modal fade modal-lg" aria-labelledby="modalEditar"
  aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Editar solicitud asuntos propios</h5>
          <button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
        <form id="formularioEditarEstadoAsuntosPropios" action="{% url 'timetrackpro:editar-error-registro-notificado' id=1 %}" method="POST"
          enctype="multipart/form-data">
          {% csrf_token %}
          <div class="row">
            <div class="col-xl-8 mx-auto my-2" >
              <label class="text-sm">Nuevo empleado</label>
              <select class="form-control" name="empleadoModificado" id="empleadoModificado">
                
              {% for e in empleados %}
                <option value="{{e.id}}" {% if empleado.id_empleado.id == e.id %} selected {% endif %} >{{e.nombre}} </option>
                {% endfor %}

              </select>
              
            </div>
            
          </div>
          <div class="row">
            <div class="col-xl-8 mx-auto my-2">
              <label class="text-sm" id="labelMotivo">Nueva fecha y hora </label>
              <input class="form-control" type="datetime-local" id="hora" name="hora" value="{{error.hora|date:'Y-m-d H:i' }}" required>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          {% if user.is_authenticated  %}
          <button type="submit" value="submit"  class="btn btn-primary" id="botonEditar">Modificar</button>
          {% endif %}
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </form>
      </div>
    </div>
  </div>

  <div id="modalCambiarEstado" tabindex="-1" role="dialog" class="modal fade modal-lg" aria-labelledby="modalCambiarEstado"
  aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Aceptar o rechazar el solicitud</h5>
          <button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
        <form id="formularioEditarEstadoAsuntosPropios" action="{% url 'timetrackpro:cambiar-estado-asuntos-propios' id=solicitud.id %}" method="POST"
          enctype="multipart/form-data">
          {% csrf_token %}
          <div class="row">
            <div class="col-xl-8 mx-auto my-2" >
              <label class="text-sm">Nuevo estado</label>
              <select class="form-control" name="estado" id="estado" onchange="mostrarTextArea()">
                
                <option value="9" {% if solicitud.estado.id == 9 %} selected {% endif %}>Pendiente</option>
                <option value="10" {% if solicitud.estado.id == 10 %} selected {% endif %}>Rechazado</option>
                <option value="11" {% if solicitud.estado.id == 11 %} selected {% endif %}>Aceptado</option>
              </select>
            </div>
            
          </div>
          <div class="row"  id="rowMotivo">
            <div class="col-xl-8 mx-auto my-2">
              <label class="text-sm" id="labelMotivo">Motivo</label>
              <textarea type="text" class="form-control" placeholder="Indique el motivo por el que modifica el error" aria-label="Indique el motivo por el que se rechaza" id="motivo" name="motivo" aria-describedby="text-addon"></textarea>

            </div>
            
          </div>
        </div>
        <div class="modal-footer">
          {% if user.is_authenticated  %}
          <button type="submit" value="submit"  class="btn btn-primary" id="botonModificar" disabled>Modificar</button>
          {% endif %}
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </form>
      </div>
    </div>
  </div>


  <div id="modalEliminarRegistro" tabindex="-1" role="dialog" class="modal fade modal-lg" aria-labelledby="modalEliminarRegistro"
  aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Eliminar error  de {{error.nombre_empleado}}</h5>
          <button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
        <form id="formularioEditarEstadoAsuntosPropios" action="{% url 'timetrackpro:eliminar-error-registro-notificado' id=1 %}" method="POST"
          enctype="multipart/form-data">
          {% csrf_token %}
          <div class="row">

            <div class="col-xl-8 mx-auto my-2" >
              <h6>¿Está seguro/a de eliminar el error?</h6>
              <span>{{empleado.id_usuario.nombre}} {{empleado.id_usuario.apellidos}} - {{error.hora|date:'d' }} de {{error.hora|date:'M' }} de {{error.hora|date:'Y' }} a las {{error.hora|date:'H:i'}}</span>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          {% if user.is_authenticated  %}
          <button type="submit" value="submit"  class="btn btn-primary" id="botonEliminar">Eliminar</button>
          {% endif %}
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </form>
      </div>
    </div>
  </div>


<script>

  function mostrarTextArea (){
    if($('#estado').val() == 2){
      $('#botonModificar').attr('disabled', true);
      $('#rowMotivo').show();
      $('#motivo').keyup(function(){
      if($(this).val().length > 10)
        $('#botonModificar').attr('disabled', false);
    })
    }else{
      
      $('#botonModificar').attr('disabled', false);
      
      $('#rowMotivo').hide();
    }
  }




    // compruebo si en textarea de motivoEliminación hay algo escrito
  // si hay algo escrito, habilito el boton de guardar
  // si no hay nada escrito, deshabilito el boton de guardar
  $(document).ready(function(){
    $('#motivoEliminacion').keyup(function(){
      if($(this).val().length > 10)
        $('#botonEliminar').attr('disabled', false);
    })
  });
</script>
{% endblock %}