
{% extends "base/base_timetrackpro.html" %}
{% load static %}
{% block content %}
  <div class="row d-flex justify-content-center">
    
    <h3 class="text-info text-gradient">{{vacaciones.tipo_vacaciones__nombre}}</h3>
    <h4 class="text-secondary">{{vacaciones.empleado__nombre}} {{vacaciones.empleado__apellidos}}</h4>
    <h6 class="text-secondary">Solicitadas el {{vacaciones.fecha_solicitud}}</h6>
    <div class="col-12 col-xl-4">
      {% if admin %}
        <div class="pb-0 p-3 d-flex justify-content-end mb-4" style="background-color: transparent;">
          <div class="row">
            <div class="col">
             <button class="botonLink" data-toggle="modal" data-target="#modalEditar">             
              <div class="sign-Btn-link"><i class="fa-solid fa-pen fa-lg" style="color: #ffffff;"></i></div>
              <div class="text text-sm">Editar</div>
            </button>
            </div>
            <div class="col">
             <button class="botonLink" data-toggle="modal" data-target="#modalCambiarEstado">             
              <div class="sign-Btn-link"><i class="fa-solid fa-sign-hanging fa-lg" style="color: #ffffff;"></i></div>
              <div class="text text-sm">Cambiar estado</div>
            </button>
            </div>
            
            <div class="col">
              <button class="botonDelete" data-toggle="modal" data-target="#modalEliminarRegistro">             
               <div class="sign-btn-delete"><i class="fa-solid fa-trash fa-lg" style="color: #ffffff;"></i></div>
               <div class="text text-sm">Eliminar</div>
             </button>
             </div>
          </div>
        </div>
        
      {% endif %}
        

      <div class="card ">
        <div class="card-header pb-0 p-3">
        </div>
        <div class="card-body pt-0 p-3">
          
          <ul class="list-group font-weight-bold">
            
            <li class="list-group-item border-0 ps-0 pt-0 text-lg"><i class="fa-solid fa-calendar text-dark me-2"></i>{{vacaciones.fecha_inicio|date:"d M"}} <strong>al</strong> {{vacaciones.fecha_fin}}</li>
            
            <li class="list-group-item border-0 ps-0 pt-0 text-lg"><i class="fa-solid fa-clock text-dark me-2"></i> {{vacaciones.dias_consumidos}} días</li>

           {% if vacaciones.estado__id == 9 %}
            <li class="list-group-item border-0 ps-0 text-lg text-info"><i class="fa-duotone fa-sign-hanging"></i> Pendiente</li>
            {% endif %}

            {% if vacaciones.estado__id == 10 %}
            <li class="list-group-item border-0 ps-0 text-lg text-danger"><i class="fa-duotone fa-sign-hanging"></i> Rechazado</li>

            {% endif %}

            {% if vacaciones.estado__id == 11 %}
            <li class="list-group-item border-0 ps-0 text-lg text-success"><i class="fa-duotone fa-sign-hanging"></i> Aceptado</li>
            {% endif %}
              
              {% if vacaciones.estado__id == 12 %}
            <li class="list-group-item border-0 ps-0 text-lg text-warning"><i class="fa-duotone fa-sign-hanging"></i> Cambio solicitado</li>
              {% endif %}
          </ul>
        </div>
      </div>
    </div>
  </div>


  <div id="modalEditar" tabindex="-1" role="dialog" class="modal fade modal-lg" aria-labelledby="modalEditar"
  aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Editar solicitud de vacaciones</h5>
          <button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
        <form id="formularioEditarVacacionesSolicitadas" action="{% url 'timetrackpro:modificar-vacaciones' id=vacaciones.id %}" method="POST"
          enctype="multipart/form-data">
          {% csrf_token %}

          <div class="row">
            <div class="col-xl-6 mx-auto my-2">
              <label class="text-sm" id="labelMotivo">Inicio</label>
              <input class="form-control" type="date" id="fecha_inicio" name="fecha_inicio" value="{{vacaciones.fecha_inicio|safe}}" onchange="calcularDias()" required>
            </div> 

            <div class="col-xl-6 mx-auto my-2">
              <label class="text-sm" id="labelMotivo">Fin</label>
              <input class="form-control" type="date" id="fecha_fin" name="fecha_fin" value="{{vacaciones.fecha_fin|safe}}" onchange="calcularDias()" required>
            </div>
          </div>

          <div class="row" hidden>
            <div class="col-xl-6 mx-auto my-2">
              <label class="text-sm" id="labelMotivo">Días</label>
              <input class="form-control" type="number" id="dias_consumidos" name="dias_consumidos" value="{{vacaciones.dias_consumidos|safe}}" required >
            </div>
            
          </div>
        </div>
        <div class="modal-footer">
          {% if user.is_authenticated  %}
          <button type="submit" value="submit"  class="btn btn-primary" id="guardarModificarVacaciones" disabled>Modificar</button>
          {% endif %}
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </form>
      </div>
    </div>
  </div>

  <div id="modalCambiarEstado" tabindex="-1" role="dialog" class="modal fade modal-lg" aria-labelledby="modalCambiarEstado"
  aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Aceptar o rechazar el registro</h5>
          <button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
        <form id="formularioEditarEstadoVacaciones" action="{% url 'timetrackpro:cambiar-estado-vacaciones' id=vacaciones.id %}" method="POST"
          enctype="multipart/form-data">
          {% csrf_token %}
          <div class="row">
            <div class="col-xl-8 mx-auto my-2" >
              <label class="text-sm">Nuevo estado</label>
              <select class="form-control" name="estado" id="estado" onchange="mostrarTextArea()">
                
                <option value="9" {% if vacaciones.estado__id == 9 %} selected {% endif %}>Pendiente</option>
                <option value="10" {% if vacaciones.estado__id == 10 %} selected {% endif %}>Rechazado</option>
                <option value="11" {% if vacaciones.estado__id == 11 %} selected {% endif %}>Aceptado</option>
                <option value="12" {% if vacaciones.estado__id == 12 %} selected {% endif %}>Cambio Solicitado</option>
              </select>
            </div>
            
          </div>
          <div class="row"  id="rowMotivo">
            <div class="col-xl-8 mx-auto my-2">
              <label class="text-sm" id="labelMotivo">Motivo del cambio de estado </label>
              <textarea type="text" class="form-control" placeholder="Indique el motivo por el que modifica el error" aria-label="Indique el motivo por el que se ha modificado el error" id="motivo" name="motivo" aria-describedby="text-addon"></textarea>

            </div>
            
          </div>
        </div>
        <div class="modal-footer">
          {% if user.is_authenticated  %}
          <button type="submit" value="submit"  class="btn btn-primary" id="botonModificar" disabled>Modificar</button>
          {% endif %}
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </form>
      </div>
    </div>
  </div>


  <div id="modalEliminarRegistro" tabindex="-1" role="dialog" class="modal fade modal-lg" aria-labelledby="modalEliminarRegistro"
  aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Eliminar solicitud de vacaciones</h5>
          <button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
        <form id="formularioEliminarSolicitudVacaciones" action="{% url 'timetrackpro:eliminar-vacaciones'%}" method="POST"
          enctype="multipart/form-data">
          {% csrf_token %}
          <div class="row">

            <div class="col-xl-8 mx-auto my-2" >
              <h6>¿Está seguro/a de eliminar la solicitud?</h6>
              <p>Del {{vacaciones.fecha_inicio}} al {{vacaciones.fecha_fin}}</p>
              <p>{{vacaciones.empleado__nombre}} {{vacaciones.empleado__apellidos}}</p>
            </div>
            <div class="col-xl-8 mx-auto my-2" hidden>
              <input type="text" class="form-control" id="id_vacaciones" name="id_vacaciones" value="{{vacaciones.id}}">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          {% if user.is_authenticated  %}
          <button type="submit" value="submit"  class="btn btn-primary" id="botonEliminar">Eliminar</button>
          {% endif %}
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </form>
      </div>
    </div>
  </div>


<script>

  function mostrarTextArea (){
    if($('#estado').val() == 2){
      
      $('#botonModificar').attr('disabled', true);
      $('#rowMotivo').show();
      $('#motivo').keyup(function(){
      if($(this).val().length > 10)
        $('#botonModificar').attr('disabled', false);
    })
    }else{
      
      $('#botonModificar').attr('disabled', false);
      
      $('#rowMotivo').hide();
    }
  }




    // compruebo si en textarea de motivoEliminación hay algo escrito
  // si hay algo escrito, habilito el boton de guardar
  // si no hay nada escrito, deshabilito el boton de guardar
  $(document).ready(function(){
    $('#motivoEliminacion').keyup(function(){
      if($(this).val().length > 10)
        $('#botonEliminar').attr('disabled', false);
    })
  });


  function calcularDias(){
    fecha_inicio = document.getElementById('fecha_inicio');
    fecha_fin = document.getElementById('fecha_fin');
    dias_consumidos = document.getElementById('dias_consumidos');
    botonGuardarModificar = document.getElementById("guardarModificarVacaciones");

    // comparo si la fecha de inicio es mayor a la fecha de fin
    if (fecha_inicio.value > fecha_fin.value){
      alert("La fecha de inicio no puede ser mayor a la fecha de fin");
      fecha_inicio.value = "";
      fecha_fin.value = "";
    }
    else{
      botonGuardarModificar.removeAttribute("disabled");
    }

    console.log("fecha",fecha_inicio.value);
      console.log("fecha 2",fecha_fin.value);

    // obtener la diferencia en dias entre las dos fechas
    var fecha1 = new Date(fecha_inicio.value);
    var fecha2 = new Date(fecha_fin.value);
    var diff = fecha2.getTime() - fecha1.getTime();
    var dias = diff / (1000 * 60 * 60 * 24);
    dias = dias + 1;
    dias_consumidos.value = dias;
  }

</script>
{% endblock %}