{% extends "base/base_mapa.html" %}
{% load static %}
{% load i18n %}
{% block title %}
    Web LARUEX
{% endblock %}
{% block css %}
    background-image: url('https://cdn.pixabay.com/photo/2016/04/04/10/15/meander-1306617_960_720.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    .card {
        perspective: 150rem;
        position: relative;
        height: 40rem;
        max-width: 400px;
        margin: 2rem;
        box-shadow: none;
        background: none;
      }
      
      .card-side {
        height: 35rem;
        border-radius: 15px;
        transition: all 0.8s ease;
        backface-visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding:2rem;
        color: white
      }
      
      .card-side.back {
        transform: rotateY(-180deg);
        background-color: #4158D0;
        background-image: linear-gradient(43deg, #4158D0 0%,#C850C0 46%, #FFCC70 100%);
      }
      
      .card-side.front {
        background-color: #0093E9;
        background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
      }
      
      .card:hover .card-side.front {
        transform: rotateY(180deg);
      }
      
      .card:hover .card-side.back {
        transform: rotateY(0deg);
      }
{% endblock %}
{% block content %}
<div class="wrapper">
    <div class="h-100 col-sm-12 texto-centrado text-center">
        <p><img class="mt-3" src="{% static 'img/logos/logo_JuntadeExtremadura.png' %}" alt="Logo VRAEX" title="Logo Plan de Vigilancia Radiológica de Extremadura" width="168"/></p>
        <h6 class="mt-3">En esta web se muestran los datos de los programas de medida de la radiación ambiental financiados por la Junta de Extremadura y gestionados por el Laboratorio de Radiactividad Ambiental de la Universidad de Extremadura.</h6>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 border-1">
                <img class="my-3" src="{% static 'img/logos/logo_rarex.png' %}" alt="Logo RAREX" title="Logo Red de Alerta Radiológica de Extremadura" width="168"/>
                <p>Valores medios diarios de la tasa de dosis ambiental registrada por las estaciones de la Red de Alerta Radiológica de Extremadura, RAREx. Estas estaciones se encuentran distribuidas por tres zonas de interés. Por un lado el entorno de la central nuclear de Almaraz, en las distintas direcciones de los vientos, por otro lado, en diferentes puntos de Badajoz y mas concretamente, en las proximidades de la instalación nuclear de El Cabril, y por último, la región del Alentejo portugués. Las medias mostradas se obtienen mediante detectores que realizan medidas cada 10 minutos, que son monitorizados de forma continua por el Laboratorio de Radiactividad Ambiental de la Universidad de Extremadura LARUEX. Su funcionamiento es posible gracias a la financiación recibida de la Junta de Extremadura a través de su Consejería de Transición Ecológica y Sostenibilidad y del Consejo de Seguridad Nuclear.</p>
                <p class="text-center mt-5"><a href="{% url 'rare:juntaexMapMediaRarex' %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Acceder</a></p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 border-1">
                <img class="my-2" src="{% static 'img/logos/logo_vraex.png' %}" alt="Logo VRAEX" title="Logo Plan de Vigilancia Radiológica de Extremadura" width="168"/>
                    <p>Resultados de los programas de vigilancia radiológicos ambientales promovidos por la Junta de Extremadura en los entornos de la central nuclear de Almaraz y de las antiguas instalaciones mineras de la Haba y llevados a cabo por el Laboratorio de Radiactividad Ambiental de la Universidad de Extremadura, LARUEX.</p>
                    <p class="text-center mt-5"><a href="{% url 'copuma:juntaexMapPublicoVraex' %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Acceder</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
    $('.btnright').hide();
    $('.btnleft').hide();
{% endblock %}
