/*Calendario*/
#calendarioAnual {
    width: 100%;
    height: 100%;
}


.fc-theme-standard .fc-scrollgrid{
  border-color: transparent;
  background-color: transparent;
}  

.fc-theme-standard td,
  .fc-theme-standard th {
    border-color: transparent;
    background-color: transparent;
  }

  .fc-daygrid-day-frame {
    /* color: #30a898; */
    font-weight: bold;
    font-size: 20px;
    text-transform: capitalize;
  }
  
  
  table[role="presentation"]  tr[role="row"] th[role="columnheader"]{
    border-color: transparent;
    background-color: transparent;
    /* background-color: #30a898; */
    border-bottom: 3px solid #676d6c34; /* Ajusta el color y el grosor según tus preferencias */
  
  }
  
  .fc-col-header-cell-cushion{
    border-radius: 10px;
    background-color: transparent;
    background-color: rgba(252, 252, 252, 0.689);
    color: #30a898;
    font-weight: bold;
    font-size: 20px;
    /* text-transform: capitalize; */
  }
  
  
  
  tbody[role="rowgroup"] tr[role="row"] td[role="gridcell"]{
    border-color: transparent;
    background-color: transparent;
    font-size: 20px;
    text-transform: capitalize;
    /* background-color: #30a898; */
  }
  
  /* .fc-scrollgrid-sync-inner{
    color: #30a898;
    font-weight: bold;
  } */